@use 'variables' as theme;

.about-container {

  .about-header {
    
    .marquee {
      overflow: hidden;
    
      .marquee-container {
        width: 100%;
      
        .inner-scroll {
          display: flex;
          animation: scroll-left 30s linear infinite;
          width: max-content;
        
          ul {
            display: flex;
            gap: 3rem;
            padding: 1.5rem 0;
            margin: 0;
            list-style: none;
            
            li {
              &:last-of-type { margin-right: 3rem; }
            }
          }
        }
      }
    }

    .about-top {
      display: grid;
      justify-items: center;
      
      .spaced-text-lrg {
        color: theme.$WhiteOpacityMid;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        @include theme.XsmFontSize;
        padding-bottom: 0.25rem;
        text-align: center;
      }
    
      h1 {
        display: grid;
        @include theme.EXLrgFontSize;
        justify-items: center;
      
        .main-text-col { @include theme.MainTextCol; }
      
        .coral-text-col { @include theme.CoralTextCol; }
      }
    
      .about-text {
        display: grid;
        gap: 1rem;
        text-align: center;
        padding: 1.5rem 0 4rem;
      
        p {
          color: theme.$WhiteOpacityMid;
          line-height: 1.8;

          .contrast-col { color: theme.$Cream; }
        }
      }
    
      .download-link {
        @include theme.BtnMain;
        padding: 0.5rem 0.75rem;
        color: theme.$WhiteOpacityMid;
      }
    }
  }
  
  .about-roles {

    .roles-container {

      .inner-container {
        margin: 1rem;
        padding: 1.5rem;
        background: linear-gradient(90deg, theme.$HintBlack, theme.$SubBlack);
        border-left: 1px solid theme.$WhiteOpacityMid;

        .roles-header {
          display: grid;
          gap: 0.5rem;
        
          h3 {
            @include theme.CoralTextCol;
            @include theme.MedLrgFontSize;
          }
        
          p {
            color: theme.$White;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            @include theme.XsmFontSize;
          }
        }
      
        .work-container {
          display: grid;
          gap: 1.25rem;
        
          .sub-header {
            color: rgba(228, 228, 228, 0.9);
            letter-spacing: 0.09rem;
          }
        
          .current-work {
            display: grid;
            gap: 1.25rem;
            margin-left: 1rem;
            padding-left: 1rem;
            list-style: disc;
          
            li {
              color: theme.$WhiteOpacityMid;
              line-height: 1.6;
              font-style: 300;
            }
          }

          .course-work {
            display: grid;
            gap: 1.5rem;

            .role-course {
              display: grid;
              gap: 0.75rem;

              .job-title {
                color: rgba(228, 228, 228, 0.9);
                letter-spacing: 0.09rem;
              }

              p {
                color: theme.$WhiteOpacityMid;
                line-height: 1.6;
              }
            }
          }
        }
      }

      .previous-work {

        li {
          margin: 1rem;
          padding: 1.5rem;
          background: linear-gradient(90deg, theme.$HintBlack, theme.$SubBlack);
          border-left: 1px solid theme.$WhiteOpacityMid;
        
          .roles-header {
            display: grid;
            gap: 0.5rem;
          
            h3 {
              @include theme.CoralTextCol;
              @include theme.MedLrgFontSize;
            }
          
            p {
              color: theme.$White;
              letter-spacing: 0.1rem;
              text-transform: uppercase;
              @include theme.XsmFontSize;
            }
          }
        }
      }

      .current-interests {
        
        li {
          margin: 1rem;
          padding: 1.5rem;
          background: linear-gradient(90deg, theme.$HintBlack, theme.$SubBlack);
          border-left: 1px solid theme.$WhiteOpacityMid;
          display: grid;
          gap: 1rem;
          
          h3 {
            @include theme.CoralTextCol;
            @include theme.MedLrgFontSize;
          }
          
          p {
            color: theme.$WhiteOpacityMid;
            @include theme.XsmFontSize;
          }          
        }
      }
    }
  }

  .ending-quote {
    padding: 4rem 0.75rem;
    display: grid;
    gap: 4rem;
    justify-items: center;
    
    h2 {
      @include theme.MedLrgFontSize;
      text-align: center;
      
      .main-text-col { @include theme.MainTextCol; }

      .coral-text-col { @include theme.CoralTextCol; }
    }

    .download-link {      
      @include theme.BtnMain;
      padding: 0.5rem 0.75rem;
      color: theme.$WhiteOpacityMid;
      width: fit-content;
    }
  }



}

@media only screen and (min-width: 26rem) { }

@media only screen and (min-width: 42rem) { }

@media only screen and (min-width: 52.5rem) { }

@media only screen and (min-width: 70rem) { }

@media only screen and (min-width: 90rem) { }

@media only screen and (min-width: 106rem) { }