@use 'variables' as theme;

.about-container {

  .about-header {
    padding: 2rem 1rem;
    display: grid;
    gap: 1rem;
    padding-bottom: 1.5rem;

    h1 {
      @include theme.XLrgFontSize;
      @include theme.MainTextCol;
    }
    
    .about-text {
      display: grid;
      gap: 1rem;
      color: theme.$White;
    }

    .about-imgs {      
      .img-container {
        width: 100%;
        height: 100%;
        max-height: 28rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 12px 0 rgba(250, 250, 250, 0.3);
        
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: 0.5rem;
        }
      }
    
      .img-one, .img-three { display: none; }
    }
  }

  .about-skills {
    padding: 2rem 1rem;
    display: grid;
    gap: 1rem;
    padding-bottom: 1.5rem;    

    h2 {
      @include theme.XLrgFontSize;
      @include theme.MainTextCol;
    }

    .skills-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem 0.75rem;

      .skills-icon {
        @include theme.SkillsIcon;
        place-self: center;
      }
    
      .adobe-icon { background: url(/images/tech-icons/tech-adobe.svg) no-repeat; }
    
      .figma-icon { background: url(/images/tech-icons/tech-figma.svg) no-repeat; }
    
      .responsive-icon { background: url(/images/tech-icons/tech-responsive.svg) no-repeat; }
    
      .uxui-icon { background: url(/images/tech-icons/tech-uxui.svg) no-repeat; }
    
      .html-icon { background: url(/images/tech-icons/tech-html.svg) no-repeat; }
    
      .bootstrap-icon { background: url(/images/tech-icons/tech-bootstrap.svg) no-repeat; }
    
      .css-icon { background: url(/images/tech-icons/tech-css.svg) no-repeat; }
    
      .scss-icon { background: url(/images/tech-icons/tech-scss.svg) no-repeat; }
    
      .js-icon { background: url(/images/tech-icons/tech-js.svg) no-repeat; }
    
      .jquery-icon { background: url(/images/tech-icons/tech-jquery.svg) no-repeat; }
    
      .react-icon { background: url(/images/tech-icons/tech-react.svg) no-repeat; }
    }
  }

  .about-roles {
    padding: 2rem 1rem;
    display: grid;
    gap: 1rem;
    padding-bottom: 1.5rem;
    color: theme.$White;

    h2 {
      @include theme.XLrgFontSize;
      @include theme.MainTextCol;
    }

    .roles-header {
      display: grid;
      gap: 0.5rem;
      padding: 1rem 0;

      h3 {
        @include theme.MedFontSize;
        @include theme.GreyTextCol;
        font-weight: 300;
      }

      .job-title, .job-date {
        @include theme.MedFontSize; 
        font-weight: 300;
      }

      .job-date { place-self: end; }
    }

    .role-ul-container {
      position: relative;
      padding: 1.5rem 0 2rem;
      display: grid;
      gap: 1rem;
      
      .role-ul-contents {
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 1.25rem;
        
        &::before, &::after {
          content: "<ul>";
          position: absolute;
          left: 0;
          color: theme.$MidGrey;
          font-size: 0.8rem;
        }
        
        &::before { top: -30px; }
        
        &::after { bottom: -30px; }
        
        .vertical-line {
          width: 2px;
          height: 100%;
          background: #334155;
          margin-left: 0.9rem;
        }
        
        ul {
          color: theme.$White;
          margin-left: 1rem;
          display: grid;
          gap: 1rem;
        }
      }
    }
    
    .interests-container {
      display: grid;
      gap: 1rem;
      
      .ih-container {
        
        h3 {
          @include theme.MedFontSize;
          @include theme.GreyTextCol;
          font-weight: 300;
          padding-bottom: 1.5rem;
        }
      }
    }
  } 
  
  .marquee {
    .marquee-container {
      h2 { padding: 0 0 1rem 1rem; }
    }
  }
}

@media only screen and (min-width: 26rem) {  
  
  .about-container {
    .about-header { 
      .about-imgs {        
        .img-container {
          max-height: 32rem;
      
          img { object-position: top; }
        }
      }
    }
  }
}

@media only screen and (min-width: 42rem) {
  .about-container {
    .about-header {
      .about-imgs {
        display: flex;
        gap: 1.5rem;

        .img-container {
          max-height: initial;
      
          img { object-position: center; }
        }
    
        .img-one, .img-three { display: block; }
      }
    }
    
    .about-skills {      
      .skills-container {
        display: flex;
        justify-content: space-between;
        gap: 0 0;
      }
    }
  }
  
}

@media only screen and (min-width: 52.5rem) {
  
  .about-container {
    .about-header {
      padding: 2.5rem 1.5rem 2.5rem 0;
      grid-template-columns: 1fr 15rem;
      grid-template-areas: 
      'header .'
      'about-text about-imgs';

      h1 { grid-area: header; }

      .about-text { 
        grid-area: about-text;
        place-self: start;
      } 
      
      .about-imgs {
        grid-area: about-imgs;
        display: grid;
        gap: 1.5rem;      
        
        .img-container {
          max-height: initial;
      
          img { object-position: center; }            
        }

        .img-one, .img-three { display: block; }
      }
    }

    .about-skills {
      padding: 1.5rem 1.5rem 1rem 0;

      .skills-container {
        display: flex;
        justify-content: space-between;
      }
    }

    .about-roles {
      padding: 1.5rem 1.5rem 1rem 0;

      .roles-header {
        grid-template-columns: repeat(2, 1fr);

        .job-title {
          grid-column: 1;
          place-self: start;
        }
      }
    }

    .interests-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      h2 { grid-column: 1 / span 2; }
    }
    
    .marquee {
      padding: 0 1.5rem 0 0;
      .marquee-container {
        h2 { padding: 0 0 1.5rem 0; }
      }
    }
  }
  
}

@media only screen and (min-width: 70rem) {

  .about-container {
    .about-header { 
      grid-template-columns: 1fr 18rem; 
      padding: 2.5rem 2rem 2.5rem 0; 
    }

    .about-skills { padding: 1.5rem 2rem 1.25rem 0; }

    .about-roles { padding: 1.5rem 2rem 1.25rem 0; }

    .marquee { padding: 0 2rem 0 0; }
  }
  
}

@media only screen and (min-width: 90rem) {
  
  .about-container {
    width: 79rem;
    margin: 0 auto;
    
    .about-header {
      padding: 2.5rem 0 2.5rem; 
      grid-template-columns: repeat(2, 1fr);
      gap: 0.75rem 2rem;
      grid-template-areas: 
      'header .'
      'about-text about-imgs';
      
      .about-imgs {
        display: grid;
        gap: 1.25rem 2rem;
        grid-template-rows: 5rem 1fr 5rem 1fr;
        grid-template-areas:
        ' . . img-two img-two'
        'img-one img-one img-two img-two'
        'img-one img-one . .'
        '. img-three img-three img-three';
        
        .img-one { grid-area: img-one; }
        .img-two { grid-area: img-two; }
        .img-three { grid-area: img-three; }
      }
    }
    
    .about-skills { padding: 1.5rem 0 1rem;  ; }

    .about-roles { padding: 1rem 0 1rem; ; }

    .marquee { padding: 0 0 0 0; }      
  }     
}

@media only screen and (min-width: 106rem) {
  
  .about-container { width: 90rem; }  
}