@use 'variables' as theme;

.about-container {
  
  h2 { 
    @include theme.MedLrgFontSize;
    text-align: center;
    place-self: center;
  }

  .about-header {
    
    .marquee {
      overflow: hidden;
    
      .marquee-container {
        width: 100%;
      
        .inner-scroll {
          display: flex;
          animation: scroll-left 30s linear infinite;
          width: max-content;
        
          ul {
            display: flex;
            gap: 3rem;
            padding: 1.5rem 0;
            margin: 0;
            list-style: none;
            
            li {
              &:last-of-type { margin-right: 3rem; }
            }
          }
        }
      }
    }

    .about-top {
      display: grid;
      justify-content: center;
      text-align: center;
      padding: 2rem 1rem;
      
      .spaced-text-lrg {
        color: theme.$WhiteOpacityMid;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        @include theme.XsmFontSize;
        padding-bottom: 0.25rem;
        text-align: center;
      }
    
      h1 {
        display: grid;
        @include theme.XLrgFontSize;
      
        .main-text-col { @include theme.MainTextCol; }
      
        .coral-text-col { @include theme.CoralTextCol; }
      }
    
      .about-text {
        display: grid;
        gap: 1rem;
        text-align: center;
        padding: 1.5rem 0 4rem;
      
        p {
          color: theme.$WhiteOpacityMid;
          line-height: 1.8;

          .contrast-col { color: theme.$Cream; }
        }
      }
    
      .download-link {
        @include theme.BtnMainSecondary;
        padding: 0.5rem 0.75rem;
        color: theme.$WhiteOpacityMid;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        width: fit-content;
        place-self: center;
      
        &::before {
          content: '';
          @include theme.FooterIcon;
          width: 1rem;
          height: 1rem;
          background-image: url(/images/icons/download-icon.svg);
        }
      }
    }
  }
  
  .about-roles {
    display: grid;
    gap: 4rem;
    padding: 2rem 1rem;

    .roles-container {
      display: grid;
      gap: 2rem;
      justify-content: center;

      .inner-container {
        display: grid;
        gap: 2rem;
        background: linear-gradient(90deg, theme.$HintBlack, theme.$SubBlack);
        border: 1px solid theme.$WhiteOpacityLight;
        border-radius: 0.5rem;
        padding: 1.25rem 1rem;

        .roles-header {
          display: grid;
          gap: 1rem;
        
          h3 {
            @include theme.CoralTextCol;
            @include theme.SmMedFontSize;
            text-align: center;
          }

          .work-title,
          .work-date { color: theme.$Cream; }
        
          p {
            text-align: center;
            color: theme.$White;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            @include theme.XsmFontSize;
          }
        }
      
        .work-container {
          display: grid;
          gap: 1.25rem;
        
          .sub-header {
            color: rgba(228, 228, 228, 0.9);
            letter-spacing: 0.09rem;
            text-align: center;
          }
        
          .current-work {
            display: grid;
            gap: 1.25rem;
            margin-left: 1rem;
            padding-left: 1rem;
            list-style: disc;
          
            li {
              color: theme.$WhiteOpacityMid;
              line-height: 1.6;
              font-style: 300;
            }
          }

          .course-work {
            display: grid;
            gap: 1.5rem;

            .role-course {
              display: grid;
              gap: 0.75rem;
              text-align: center;

              .job-title {
                color: rgba(228, 228, 228, 0.9);
                letter-spacing: 0.09rem;
              }

              p {
                color: theme.$WhiteOpacityMid;
                line-height: 1.6;
              }
            }
          }
        }
      }

      .previous-work {
        display: grid;
        gap: 2rem;
        justify-content: center;

        li {
          padding: 1.25rem 1rem;
          background: linear-gradient(90deg, theme.$HintBlack, theme.$SubBlack);
          border: 1px solid theme.$WhiteOpacityLight;
          border-radius: 0.5rem;
        
          .roles-header {
            display: grid;
            gap: 1.5rem;
            justify-items: center;
          
            h3 {
              @include theme.CoralTextCol;
              @include theme.SmMedFontSize;
              text-align: center;
            }
          
            p {
              color: theme.$Cream;
              letter-spacing: 0.1rem;
              text-transform: uppercase;
              @include theme.XsmFontSize;
              text-align: center;
            }
          }
        }
      }

      .current-interests {
        display: grid;
        gap: 2rem;
        justify-content: center;
        
        li {
          padding: 1.25rem 1rem;
          border: 1px solid theme.$WhiteOpacityLight;
          border-radius: 0.5rem;
          display: grid;
          gap: 1rem;
          justify-items: center;
          
          h3 {
            @include theme.CoralTextCol;
            @include theme.SmMedFontSize;
            text-align: center;
          }
          
          p {
            color: theme.$WhiteOpacityMid;
            @include theme.XsmFontSize;
            text-align: center;
          }          
        }
      }
    }
  }

  .ending-quote {
    padding: 4rem 0.75rem;
    display: grid;
    gap: 4rem;
    justify-items: center;
    
    h2 {
      @include theme.MedLrgFontSize;
      text-align: center;
      
      .main-text-col { @include theme.MainTextCol; }

      .coral-text-col { @include theme.CoralTextCol; }
    }

    .download-link {      
      @include theme.BtnMainSecondary;
      padding: 0.5rem 0.75rem;
      color: theme.$WhiteOpacityMid;
      width: fit-content;
      display: flex;
      gap: 0.5rem;
      align-items: center;
      
      &::before {
        content: '';
        @include theme.FooterIcon;
        width: 1rem;
        height: 1rem;
        background-image: url(/images/icons/download-icon.svg);
      } 
    }
  }



}

@media only screen and (min-width: 26rem) { }

@media only screen and (min-width: 42rem) { }

@media only screen and (min-width: 52.5rem) { }

@media only screen and (min-width: 70rem) { }

@media only screen and (min-width: 90rem) { }

@media only screen and (min-width: 106rem) { }