@use 'variables' as theme;

.about-container {
  padding: 2rem 1rem 4rem;
  
  h2 { 
    @include theme.MedLrgFontSize;
    text-align: center;
    place-self: center;
  }

  .about-header {
    
    .marquee {
      overflow: hidden;
    
      .marquee-container {
        width: 100%;
      
        .inner-scroll {
          display: flex;
          animation: scroll-left 30s linear infinite;
          width: max-content;
        
          ul {
            display: flex;
            gap: 3rem;
            padding: 1.5rem 0;
            margin: 0;
            list-style: none;
            
            li {
              background: linear-gradient(90deg, theme.$HintBlack, theme.$SubBlack);
              border: 1px solid theme.$WhiteOpacityLight;
              border-radius: 0.5rem;
              padding: 0.75rem 0.5rem;

              &:last-of-type { margin-right: 3rem; }

              .about-img-container {
                border-radius: 0.5rem;
                width: 14rem;
                height: 14rem;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;                
              }
              
              .me-blue { background-image: url(/images/me-imgs/me-and-blue.webp); }

              .me-heart { 
                background-image: url(/images/me-imgs/me-heart.webp);
                background-size: 115%;
                background-position: center -6rem;
              }

              .me-kimono { background-image: url(/images/me-imgs/me-kimono.webp); }

              .me-shiho { background-image: url(/images/me-imgs/me-and-shiho.webp); }

              .me-korea {
                background-image: url(/images/me-imgs/me-korea.webp);
                background-size: 120%;
                background-position: bottom;
              }
            }
          }
        }
      }
    }

    .about-top {
      display: grid;
      justify-content: center;
      text-align: center;
      padding: 2rem 1rem;
      
      .spaced-text-lrg {
        color: theme.$WhiteOpacityMid;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        @include theme.XsmFontSize;
        padding-bottom: 0.25rem;
        text-align: center;
      }
    
      h1 {
        display: grid;
        @include theme.XLrgFontSize;
        justify-items: center;
        text-align: center;
      
        .main-text-col { @include theme.MainTextCol; }
      
        .coral-text-col { @include theme.CoralTextCol; }
      }
    
      .about-text {
        display: grid;
        gap: 1rem;
        text-align: center;
        padding: 1.5rem 0 4rem;
      
        p {
          color: theme.$WhiteOpacityMid;
          line-height: 1.8;

          .contrast-col { color: theme.$Cream; }
        }
      }
    
      .download-link {
        @include theme.BtnMainSecondary;
        padding: 0.5rem 0.75rem;
        color: theme.$WhiteOpacityMid;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        width: fit-content;
        place-self: center;
      
        &::before {
          content: '';
          @include theme.FooterIcon;
          width: 1rem;
          height: 1rem;
          background-image: url(/images/icons/download-icon.svg);
        }
      }
    }
  }
  
  .about-roles {
    display: grid;
    gap: 6rem;
    padding: 2rem 1rem;

    .roles-container {
      display: grid;
      gap: 2rem;
      justify-content: center;
      opacity: 0;
      transform: translateY(30px);
      transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  
      &.in-view {
        opacity: 1;
        transform: translateY(0);
      }

      .inner-container {
        display: grid;
        gap: 2rem;
        background: linear-gradient(90deg, theme.$HintBlack, theme.$SubBlack);
        border: 1px solid theme.$WhiteOpacityLight;
        border-radius: 0.5rem;
        padding: 1.25rem 1rem;

        .roles-header {
          display: grid;
          gap: 1rem;
          justify-items: center;
          text-align: center;
        
          h3 {
            @include theme.CoralTextCol;
            @include theme.SmMedFontSize;
          }

          .work-title,
          .work-date { color: theme.$Cream; }
        
          p {
            text-align: center;
            color: theme.$White;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            @include theme.XsmFontSize;
          }
        }
      
        .work-container {
          display: grid;
          gap: 1.25rem;
        
          .sub-header {
            color: rgba(228, 228, 228, 0.9);
            letter-spacing: 0.09rem;
            text-align: center;
          }
        
          .current-work {
            display: grid;
            gap: 1.25rem;
            margin-left: 1rem;
            padding-left: 1rem;
            list-style: disc;
          
            li {
              color: theme.$WhiteOpacityMid;
              line-height: 1.6;
              font-style: 300;
            }
          }

          .course-work {
            display: grid;
            gap: 1.5rem;

            .role-course {
              display: grid;
              gap: 0.75rem;
              text-align: center;

              .job-title {
                color: rgba(228, 228, 228, 0.9);
                letter-spacing: 0.09rem;
              }

              p {
                color: theme.$WhiteOpacityMid;
                line-height: 1.6;
              }
            }
          }
        }
      }

      .previous-work {
        display: grid;
        gap: 2rem;
        justify-content: center;

        li {
          padding: 1.25rem 1rem;
          background: linear-gradient(90deg, theme.$HintBlack, theme.$SubBlack);
          border: 1px solid theme.$WhiteOpacityLight;
          border-radius: 0.5rem;
        
          .roles-header {
            display: grid;
            gap: 1.5rem;
            justify-items: center;
          
            h3 {
              @include theme.CoralTextCol;
              @include theme.SmMedFontSize;
              text-align: center;
            }
          
            p {
              color: theme.$Cream;
              letter-spacing: 0.1rem;
              text-transform: uppercase;
              @include theme.XsmFontSize;
              text-align: center;
            }
          }
        }
      }

      .current-interests {
        display: grid;
        gap: 2rem;
        justify-content: center;
        
        li {
          padding: 1.25rem 1rem;
          border: 1px solid theme.$WhiteOpacityLight;
          background: linear-gradient(90deg, theme.$HintBlack, theme.$SubBlack);
          border-radius: 0.5rem;
          display: grid;
          gap: 1rem;
          justify-items: center;

          .interests-header {
            display: flex;
            align-items: center;
            gap: 1rem;
            
            h3 {
              @include theme.CoralTextCol;
              @include theme.SmMedFontSize;
              order: 2
            }
            
            .interests-icon { 
              @include theme.SkillsIcon;
              order: 1;
            }

            .knitting-icon { background-image: url(/images/icons/knitting-icon.svg); }

            .languages-icon { 
              background-image: url(/images/icons/languages-icon.svg);
              width: 3rem;
              height: 3rem;
            }

            .drawing-icon { 
              background-image: url(/images/icons/drawing-icon.svg);
              width: 2rem;
              height: 2rem;
            }

            .travel-icon { background-image: url(/images/icons/travel-icon.svg); }

          }

          p {
            color: theme.$WhiteOpacityMid;
            @include theme.XsmFontSize;
            text-align: center;
          }          
        }
      }
    }
  }

  .ending-quote {
    padding: 8rem 1rem 4rem;
    display: grid;
    gap: 4rem;
    justify-items: center;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    
    &.in-view {
      opacity: 1;
      transform: translateY(0);
    }
    
    h2 {
      @include theme.MedLrgFontSize;
      text-align: center;
      
      .main-text-col { @include theme.MainTextCol; }

      .coral-text-col { @include theme.CoralTextCol; }
    }

    .download-link {      
      @include theme.BtnMainSecondary;
      padding: 0.5rem 0.75rem;
      color: theme.$WhiteOpacityMid;
      width: fit-content;
      display: flex;
      gap: 0.5rem;
      align-items: center;
      
      &::before {
        content: '';
        @include theme.FooterIcon;
        width: 1rem;
        height: 1rem;
        background-image: url(/images/icons/download-icon.svg);
      } 
    }
  }
}

@media only screen and (min-width: 28rem) {
  .about-container {
    
    h2 {  @include theme.LrgXFontSize; }
  
    .about-header {
      
      .about-top {
        h1 { @include theme.EXLrgFontSize; }
      }
    }
  
    .about-roles {
      
      .roles-container {
        
        .inner-container {
          padding: 2rem 1.5rem;
        
          .roles-header {
            
            h3 { @include theme.MedLrgFontSize; }
          }
        }
        
        .previous-work {
          li {
            .roles-header {
              h3 { @include theme.MedLrgFontSize; }
            }
          }
        }
      
        .current-interests {
          li {
            padding: 2rem 1.5rem;
          
            p { @include theme.SmFontSize; }
          }
        }
      }
    }
  
    .ending-quote {
      h2 { @include theme.LrgFontSize; }
    }
  }
}

@media only screen and (min-width: 42rem) { }

@media only screen and (min-width: 52.5rem) {
  
  .about-container {
    
    h2 {  
      @include theme.XLrgFontSize;
      text-align: left;
      place-self: start;
    }
  
    .about-header {      
      .about-top {
        width: 40rem;
        margin: 0 auto;

        h1 { @include theme.EXXLrgFontSize; }
      }
    }
  
    .about-roles {      
      .roles-container {        
        .inner-container {
          .roles-header {
            justify-items: start;
            grid-template-columns: repeat(2, 1fr);
            
            h3 { 
              @include theme.LrgXFontSize;
              grid-column: 1 / span 2;
              padding-bottom: 1rem;
            }

            .work-date { place-self: end; }
          }

          .work-container {
            .sub-header { text-align: left; }

            .course-work {
              .role-course { text-align: left; }
            }
          }
        }
        
        .previous-work {
          grid-template-columns: repeat(2, 1fr);
          gap: 4rem 2rem;

          li {
            border: initial;
            border-left: 1px solid theme.$WhiteOpacityMid;
            border-radius: 0;
            align-content: flex-start;
            padding: 2rem 1.5rem;

            .roles-header {
              justify-items: start;

              h3 { text-align: left; }

              p { text-align: left; }
            }
          }
        }
      
        .current-interests {
          grid-template-columns: repeat(2, 1fr);
          gap: 4rem 2rem;

          li {
            justify-items: start;
            border: initial;
            border-left: 1px solid theme.$WhiteOpacityMid;
            border-radius: 0;
            align-content: flex-start;
            
            .interests-header {
              justify-content: space-between;
              width: 100%;
              gap: 0;
            
              h3 { order: 1; }
            
              .interests-icon { order: 2; }
            
              .drawing-icon { transform: scaleX(-1); }
            }
          
            p { text-align: left; }
          }
        }
      }
    }
  
    .ending-quote {
      padding: 12rem 1.5rem 4rem;
      width: 43rem;
      margin: 0 auto;
      gap: 6rem;
    }
  }
}

@media only screen and (min-width: 65rem) {

  .about-container {

    .about-roles {
      .sub-container {
        grid-template-columns: 26rem 1fr;
        position: relative;

        h2 {
          position: sticky;
          top: 0;
        }

        .inner-container {
          border: initial;
          border-left: 1px solid theme.$WhiteOpacityMid;
          border-radius: 0;
          align-content: flex-start;

          .roles-header { text-align: left; }
        }
      }

      .roles-container {
        .previous-work {
          grid-template-columns: 1fr;
          
          .roles-header {
            grid-template-columns: 17.5rem 1fr;
            
            h3 {  grid-column: 1 / span 2; }

            .work-date { place-self: end; }
          }
        }
      }
    }
    

  }
}

@media only screen and (min-width: 75rem) {

  .about-container {
    width: 70rem;
    margin: 0 auto;
  }

}

@media only screen and (min-width: 100rem) {

  .about-container { width: 85rem;  }
}