@use 'variables' as theme;

.case-study-list {
  padding: 1.5rem 0.75rem;

  .cs-list-container {
    padding: 1rem 0;
    display: grid;
    gap: 2rem;

    &:first-of-type { padding: 0 0 1rem; }
    
    h2 {
      @include theme.XLrgFontSize;
      @include theme.MainTextCol;
      place-self: center;
    }

    .case-grid {            
      display: grid;
      gap: 2rem;
      
      .case-card {
        position: relative;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-items: center;
        color: theme.$White;

        h3 { text-align: center; }
        
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background: linear-gradient(90deg, rgba(30, 41, 59, 0) 0%, rgba(148, 163, 183, 50%) 50%, rgba(30, 41, 59, 0) 100%);
        }

        &:last-of-type::before { background: transparent; }

        .cs-img-container {
          width: 100%;
          height: auto;
        
          .cs-img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }        
        }

        .tech-imgs {
          display: flex;
          justify-content: center;
          gap: 1rem;
        }

        p { text-align: center }
      
        .link-arrow { 
          font-family: 'Halant', serif;
          @include theme.LinkArrow;
          font-size: 0.9rem;
          width: 100%;
          color: theme.$White;
          margin-top: auto;
        
          &:hover {
            color: theme.$HotPink;
          
            &::after { background-image: url(/images/site-icons/icon-arrow-hv.svg); }
          }
        }

        .cs-mini-links {
          width: 100%;          
          display: flex;
          justify-content: space-between;
          margin-top: auto;

          a { 
            display: flex;
            gap: 0.5rem;
            align-items: center;
            font-family: 'Halant', serif;
            font-size: 0.9rem;
            color: theme.$White; 
            transition: all 0.4s ease-in-out;
            
            &::before {
              content: '';
              display: block;
              width: 1rem;
              height: 1rem;
              background-repeat: no-repeat;
              background-size: contain;               
            }

            &:hover { color: theme.$Teal; }
          }

          .link-github {
            &::before { background-image: url(/images/social-icons/social-github.svg); }

            &:hover::before {
              background-image: url(/images/social-icons/social-github-hv.svg);
            }
          }

          .link-live {
            &::before { background-image: url(/images/site-icons/icon-globe.svg); }
            
            &:hover::before {
              background-image: url(/images/site-icons/icon-globe-hv.svg);
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 26rem) { 
  
  .case-study-list { padding: 2.5rem 1.5rem; }
  
}

@media only screen and (min-width: 42rem) {
  
  .case-study-list {
    .cs-list-container {

      h2 { place-self: start; }

      .case-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 0 0;

        .case-card {
          padding: 2rem 1.5rem 2rem;

          h3 { @include theme.MedFontSize;}
          
          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 2px;
            height: 100%;             
          }
          
          &:nth-of-type(1) {              
            &:before { background: linear-gradient(90deg, rgba(30, 41, 59, 0) 40%, rgba(148, 163, 183, 0.5) 100%); }
            
            &:after { background: linear-gradient(180deg, rgba(30, 41, 59, 0) 40%, rgba(148, 163, 183, 0.5) 100%); }
          }
          
          &:nth-of-type(2) { 
            &:before { background: linear-gradient(90deg, rgba(148, 163, 183, 0.5) 0%, rgba(30, 41, 59, 0) 100%); } 
          }

          &:nth-of-type(3) { 
            &:before { background: linear-gradient(90deg, rgba(30, 41, 59, 0) 40%, rgba(148, 163, 183, 0.5) 100%); }
            
            &:after { background: linear-gradient(180deg, rgba(148, 163, 183, 0.5) 0%, rgba(30, 41, 59, 0) 35%, rgba(30, 41, 59, 0) 55%, rgba(148, 163, 183, 0.5) 100%); }
          }

          &:nth-of-type(4) { 
            &:before { background: linear-gradient(90deg, rgba(148, 163, 183, 0.5) 0%, rgba(30, 41, 59, 0) 100%); } 
          }
          
          &:nth-of-type(5),
          &:nth-of-type(7) { 
            &:before { background: linear-gradient(90deg, rgba(30, 41, 59, 0) 40%, rgba(148, 163, 183, 0.5) 100%); }
            
            &:after { background: linear-gradient(180deg, rgba(148, 163, 183, 0.5) 0%, rgba(30, 41, 59, 0) 35%, rgba(30, 41, 59, 0) 55%, rgba(148, 163, 183, 0.5) 100%); }
          }

          &:nth-of-type(6) {
            &:before { background: linear-gradient(90deg, rgba(148, 163, 183, 0.5) 0%, rgba(30, 41, 59, 0) 100%); } 
          }
          
          &:nth-of-type(even)::after { background: transparent; }
        }
      }
    }
  }  
}

@media only screen and (min-width: 52.5rem) {
  
  .case-study-list {
    padding: 2.5rem 1.5rem 2.5rem 0;

    .cs-list-container {
      .case-grid {
        grid-template-columns: 1fr;
        gap: 3rem;

        .case-card {
          display: grid;
          grid-template-columns: 18rem 1fr;
          justify-items: flex-start;
          padding: 0 0 2rem;

          h3, p { 
            grid-column: 2; 
            text-align: left;
          }

          .cs-img-container {
            grid-column: 1;
            grid-row: 1 / span 3;
            place-self: center;
          }

          .tech-imgs {
            grid-column: 1;
            grid-row: 4;
            place-self: center;
          }

          .link-arrow,
          .cs-mini-links { 
            grid-column: 2;
            grid-row: 4;
          } 
          
          &:nth-of-type(1),
          &:nth-of-type(2),
          &:nth-of-type(3),
          &:nth-of-type(4),
          &:nth-of-type(5),
          &:nth-of-type(6),
          &:nth-of-type(7) {
            &:before { background: linear-gradient(90deg, rgba(30, 41, 59, 0) 0%, rgba(148, 163, 183, 50%) 50%, rgba(30, 41, 59, 0) 100%); }
          }
          
          &:nth-of-type(1),
          &:nth-of-type(3),
          &:nth-of-type(5),
          &:nth-of-type(7) { 
            &:after { display: none; }
          }
        }
      }
    }
  }  
}

@media only screen and (min-width: 90rem) {
  
  .case-study-list {
    width: 79rem;      
    margin: 0 auto;

    .cs-list-container {
      .case-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
        
        .case-card {
          padding: 2rem 1.5rem 2rem;
          grid-template-columns: 20rem 1fr;
          
          &:nth-of-type(1),
          &:nth-of-type(3),
          &:nth-of-type(5),
          &:nth-of-type(7) { 
            &:after { display: block; }
          }
          
          &:nth-of-type(1) {              
            &:before { background: linear-gradient(90deg, rgba(30, 41, 59, 0) 40%, rgba(148, 163, 183, 0.5) 100%); }
            
            &:after { background: linear-gradient(180deg, rgba(30, 41, 59, 0) 40%, rgba(148, 163, 183, 0.5) 100%); }
          }
          
          &:nth-of-type(2) { 
            &:before { background: linear-gradient(90deg, rgba(148, 163, 183, 0.5) 0%, rgba(30, 41, 59, 0) 100%); } 
          }

          &:nth-of-type(3) { 
            &:before { background: linear-gradient(90deg, rgba(30, 41, 59, 0) 40%, rgba(148, 163, 183, 0.5) 100%); }
            
            &:after { background: linear-gradient(180deg, rgba(148, 163, 183, 0.5) 0%, rgba(30, 41, 59, 0) 35%, rgba(30, 41, 59, 0) 55%, rgba(148, 163, 183, 0.5) 100%); }
          }

          &:nth-of-type(4) { 
            &:before { background: linear-gradient(90deg, rgba(148, 163, 183, 0.5) 0%, rgba(30, 41, 59, 0) 100%); } 
          }
          
          &:nth-of-type(5),
          &:nth-of-type(7) { 
            &:before { background: linear-gradient(90deg, rgba(30, 41, 59, 0) 40%, rgba(148, 163, 183, 0.5) 100%); }
            
            &:after { background: linear-gradient(180deg, rgba(148, 163, 183, 0.5) 0%, rgba(30, 41, 59, 0) 35%, rgba(30, 41, 59, 0) 55%, rgba(148, 163, 183, 0.5) 100%); }
          }

          &:nth-of-type(6) {
            &:before { background: linear-gradient(90deg, rgba(148, 163, 183, 0.5) 0%, rgba(30, 41, 59, 0) 100%); } 
          }
          
          &:nth-of-type(even)::after { background: transparent; }      
          
        }        
      }
    }
  }   
}

@media only screen and (min-width: 106rem) {
  
  .case-study-list { width: 90rem; }
  
}