@use 'variables' as theme;

.home-container { 
  display: grid;
  gap: 6rem;

  h2 { 
    @include theme.MedLrgFontSize;
    text-align: center;
    place-self: center;
  }

  .home-about {
    padding: 8rem 1rem 0;
    display: grid;
    gap: 4rem;

    .about-text {
      display: grid;
      order: 2;
      justify-items: center;
      text-align: center;

      .spaced-text-lrg {
        color: theme.$WhiteOpacityMid;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        @include theme.XsmFontSize;
        padding-bottom: 0.5rem;
      }
            
      h1 {
        display: grid;
        @include theme.XLrgFontSize;
        justify-items: center;
        text-align: center;
        padding-bottom: 1.5rem;
        
        .main-text-col { @include theme.MainTextCol; }
        
        .coral-text-col { @include theme.CoralTextCol; }
      }

      .text-body {
        color: theme.$WhiteOpacityMid;
        @include theme.SmFontSize;
        line-height: 1.8;

        span { color: theme.$Cream; }
      }
    }
    
    .img-container { 
      @include theme.ImgMain;
      order: 1;
    }
  }

  .about-skills {
    padding: 2rem 1rem 0;
    display: grid;
    gap: 4rem;

    .skills-container {
      display: flex;
      flex-wrap: wrap;
      gap: 4rem 2.5rem;
      justify-content: center;

      .skill-item {
        display: grid;
        gap: 0.5rem;
        justify-items: center;

        .skills-icon { @include theme.SkillsIcon; }

        .adobe-icon { background-image: url(/images/focus-imgs/adobe-icon.svg); }

        .figma-icon { background-image: url(/images/focus-imgs/figma-icon.svg); }

        .responsive-icon { background-image: url(/images/focus-imgs/responsive-icon.svg); }

        .uxui-icon { background-image: url(/images/focus-imgs/uxui-icon.svg); }

        .illustration-icon { background-image: url(/images/focus-imgs/illustrations-icon.svg); }

        .digital-icon { background-image: url(/images/focus-imgs/digital-icon.svg); }

        .web-design-icon { background-image: url(/images/focus-imgs/web-icon.svg); }

        .concept-icon { background-image: url(/images/focus-imgs/concept-icon.svg); }

        .html-icon { background-image: url(/images/focus-imgs/html-icon.svg); }

        .css-icon { background-image: url(/images/focus-imgs/css-icon.svg); }

        .scss-icon { background-image: url(/images/focus-imgs/sass-icon.svg); }

        .js-icon { background-image: url(/images/focus-imgs/js-icon.svg); }

        .react-icon { background-image: url(/images/focus-imgs/react-icon.svg); }

        .net-icon { background-image: url(/images/focus-imgs/net-icon.svg); }

        .nextjs-icon { background-image: url(/images/focus-imgs/next-icon.svg); }

        .git-icon { background-image: url(/images/focus-imgs/git-icon.svg); }

        .skill-text {
          @include theme.XsmFontSize;
          color: theme.$WhiteOpacityMid;
          letter-spacing: 0.2em;
        }
      }
    }
  }
}

@media only screen and (min-width: 28rem) {

  .home-container {
    
    h2 { @include theme.LrgXFontSize; }
    
    .home-about {
      
      .about-text {
        h1 { @include theme.EXLrgFontSize; }
      }
    }
  }
}

@media only screen and (min-width: 42rem) { }

@media only screen and (min-width: 52.5rem) {

  .home-container {

    h2 { 
      @include theme.XLrgFontSize;
      text-align: left;
      place-self: start;
    }

    .home-about {
      padding: 8rem 1.5rem 0;

      .about-text {
        width: 43rem;
        margin: 0 auto;
    
        h1 { @include theme.EXXLrgFontSize; }
      }
    }

    .about-skills { padding: 2.5rem 1.5rem; }
  }

}

@media only screen and (min-width: 65rem) {
  
  .home-container {

    .home-about {
      padding: 8rem 1.5rem;
      grid-template-columns: repeat(2, 1fr);
      gap: 3.5rem;
      align-items: center;

      .about-text {
        order: 1;
        text-align: left;
        justify-items: start;

        h1 { 
          text-align: left;
          justify-items: start;
        }
      }
    }

    .about-skills { padding: 2.5rem 1.5rem; }
  }
}

@media only screen and (min-width: 75rem) {

  .home-container {
    width: 70rem;
    margin: 0 auto;
  }

}

@media only screen and (min-width: 100rem) {

  .home-container { width: 85rem;  }
}