@use 'variables' as theme;

.home-container { 
  
  .home-about {
    padding: 2rem 1rem;
    display: grid;
    gap: 1rem;

    .about-text {
      display: grid;

      .spaced-text-lrg {
        color: theme.$WhiteOpacityMid;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        @include theme.XsmFontSize;
        padding-bottom: 0.25rem;
      }
            
      h1 {
        display: grid;
        @include theme.EXLrgFontSize;
        
        .main-text-col { @include theme.MainTextCol; }
        
        .coral-text-col { @include theme.CoralTextCol; }
      }

      .text-body {
        color: theme.$WhiteOpacityMid;
        @include theme.SmFontSize;
        line-height: 1.8;

        span {
          color: theme.$Cream;
        }
      }
    }
    
    .img-container { @include theme.ImgMain; }
  }

  .about-skills {
    padding: 2rem 1rem;
    display: grid;
    gap: 4rem;

    .skills-container {
      display: flex;
      flex-wrap: wrap;
      gap: 4rem 2rem;
      justify-content: center;

      .skill-item {
        display: grid;
        gap: 0.5rem;
        justify-items: center;
        padding: 0 1rem;

        .skills-icon { @include theme.SkillsIcon; }

        .adobe-icon { background-image: url(/images/focus-imgs/adobe-icon.svg); }

        .figma-icon { background-image: url(/images/focus-imgs/figma-icon.svg); }

        .responsive-icon { background-image: url(/images/focus-imgs/responsive-icon.svg); }

        .uxui-icon { background-image: url(/images/focus-imgs/uxui-icon.svg); }

        .illustration-icon { background-image: url(/images/focus-imgs/illustrations-icon.svg); }

        .digital-icon { background-image: url(/images/focus-imgs/digital-icon.svg); }

        .web-design-icon { background-image: url(/images/focus-imgs/web-icon.svg); }

        .concept-icon { background-image: url(/images/focus-imgs/concept-icon.svg); }

        .html-icon { background-image: url(/images/focus-imgs/html-icon.svg); }

        .css-icon { background-image: url(/images/focus-imgs/css-icon.svg); }

        .scss-icon { background-image: url(/images/focus-imgs/sass-icon.svg); }

        .js-icon { background-image: url(/images/focus-imgs/js-icon.svg); }

        .react-icon { background-image: url(/images/focus-imgs/react-icon.svg); }

        .net-icon { background-image: url(/images/focus-imgs/net-icon.svg); }

        .nextjs-icon { background-image: url(/images/focus-imgs/next-icon.svg); }

        .git-icon { background-image: url(/images/focus-imgs/git-icon.svg); }

        .skill-text {
          @include theme.XsmFontSize;
          color: theme.$WhiteOpacityMid;
          letter-spacing: 0.2em;
        }
      }
    }
  }
  
}

@media only screen and (min-width: 26rem) { }

@media only screen and (min-width: 42rem) { }

@media only screen and (min-width: 52.5rem) { }

@media only screen and (min-width: 70rem) { }

@media only screen and (min-width: 90rem) { }

@media only screen and (min-width: 106rem) { }