@use 'variables' as theme;

.dashboard-header {
  border: 1px solid theme.$WhiteOpacityLight;
  // position: sticky;
  // z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // top: 0;
  // left: 0;
  // height: 70px;
  // width: 100%;
  padding: 1rem 2rem;
  background: linear-gradient(theme.$AccentBlack 0%, theme.$SubBlack 50%, theme.$AccentBlack 100%);  
  margin: 1rem;
  border-radius: 1.75rem;

  h2 {
    @include theme.SmFontSize;
    color: theme.$White;
  }

  .nav-icon {
    @include theme.SmFontSize;
    color: theme.$White;
  }

  // .nav-icon {
  //   padding: 0.25rem 0.5rem;
  //   cursor: pointer;
  //   // position: absolute;
  //   // top: 50%;
  //   // right: 0.5rem;
  //   transform: translateY(-50%);
    
  //   &::after {
  //     @include theme.IconStandard;
  //     @include theme.XLrgDimensions;
  //     transition: 0.4s ease-in-out;
  //     background-image: url(/images/site-icons/icon-burger-nav.svg);        
  //   }
    
  //   &:hover::after { background-image: url(/images/site-icons/icon-burger-nav-hv.svg); }
  // }

  .nav-icon.expanded {
    transition: 0.4s ease-in-out;
    
    &::after { background-image: url(/images/site-icons/icon-close.svg); }
    
    &:hover::after { background-image: url(/images/site-icons/icon-close-hv.svg); }
  }

  .main-navbar { display: none; }

  .main-navbar.expanded { 
    display: grid;
    position: fixed;
    top: 87px;
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
    background: linear-gradient(theme.$TrueBlack 0%, theme.$SubBlack 50%, theme.$TrueBlack 100%);  

    .navbar-menu  {
      display: grid;
      justify-content: center;
      align-content: center;

      .navbar-links {
        display: grid;
        gap: 3rem;

        li { 
          padding: 0 0;
          text-align: center;
          
          a {
            transition: 0.4s ease-in-out;
            color: rgba(228, 228, 228, 0.7);
            @include theme.MedLrgFontSize;
            font-weight: 200;

            &:hover { color: theme.$Cream;}
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 52.5rem) {

  .dashboard-header {
    display: flex;
    padding: 0.5rem 0.75rem 0.5rem 2rem;

    .nav-icon { display: none; }

    .main-navbar {
      display: block;

      .navbar-menu {

        .navbar-links {
          display: flex;
          align-items: center;
          gap: 1.5rem;
          
          li { 
            padding: 0 0;
            text-align: center;
        
            a {
              transition: 0.4s ease-in-out;
              color: theme.$WhiteOpacityMid;
              @include theme.SmFontSize;
              font-weight: 200;
            }
          }

          .contact-link {
            @include theme.BtnMain;
            padding: 0.5rem 0.75rem;

            &:hover a {
              color: theme.$Cream;
            }
          }
        }
      }
    }
  }  
} 