@use 'variables' as theme;

.dashboard-header {
  border: 1px solid theme.$WhiteOpacityLight;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: linear-gradient(theme.$AccentBlack 0%, theme.$SubBlack 50%, theme.$AccentBlack 100%);  
  margin: 1rem;
  border-radius: 1.75rem;
  position: sticky;
  top: 1rem;
  z-index: 10;
  transition: transform 0.35s ease-in-out, opacity 0.35s ease-in-out;
  backdrop-filter: blur(6px);

  h2 {
    @include theme.SmFontSize;
    color: theme.$White;
  }

  .nav-icon {
    @include theme.SmFontSize;
    color: theme.$White;
  }

  .nav-icon {
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    
    &::after {      
      content: '';
      @include theme.FooterIcon;
      background-image: url(/images/icons/nav-icon.svg);       
    }
  }

  .nav-icon.expanded {    
    &::after { background-image: url(/images/icons/close-icon.svg); }    
  }
}

.dashboard-header.hidden {
  transform: translateY(-120%);
  opacity: 0;
}

.dashboard-header.visible {
  transform: translateY(0);
  opacity: 1;
}

.main-navbar {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(theme.$TrueBlack 0%, theme.$SubBlack 50%, theme.$TrueBlack 100%);  
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: opacity 0.35s ease, transform 0.35s ease;
  z-index: 5;

  .navbar-menu {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100%;

    .navbar-links {
      display: grid;
      gap: 3rem;

      li {
        opacity: 0;
        transform: translateY(10px);
        transition: all 0.35s ease-in-out;
        
        a {
          transition: 0.4s ease-in-out;
          color: rgba(228, 228, 228, 0.7);
          @include theme.SmXSMedFontSize;
          font-weight: 200;

          &:hover { color: theme.$Cream; }
        }
      }

      .home-link-active,
      .about-link-active,
      .work-link-active { 
        a { color: theme.$White; }        
      }
    }
  }
}

.main-navbar.expanded { 
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;

  .navbar-menu  {
    .navbar-links {

      li { 
        opacity: 1;
        transform: translateY(0);
        text-align: center;

        &:nth-child(1) { transition-delay: 0.05s; }
        &:nth-child(2) { transition-delay: 0.1s; }
        &:nth-child(3) { transition-delay: 0.15s; }
        &:nth-child(4) { transition-delay: 0.2s; }  
      }
      
      .contact-link {
        @include theme.BtnMain;
        padding: 0.75rem 1.5rem;
        border-radius: 1.75rem;

        &::before { border-radius: 1.75rem; }

        &:hover a { color: theme.$Cream; }
        
        a {
          display: flex;
          gap: 0.5rem;
          align-items: center;
          
          &::before {
            content: '';
            @include theme.FooterIcon;
            width: 1.5rem;
            height: 1.5rem;
            background-image: url(/images/icons/contact-icon.svg);
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 52.5rem) {

  .dashboard-header {
    padding: 0.5rem 0.75rem 0.5rem 2rem;

    .nav-icon { display: none; }
  }
  
  .main-navbar,
  .main-navbar.expanded {
    position: static;
    opacity: 1;
    transform: initial;
    pointer-events: auto;
    height: initial;
    background:  none;
    transition: inherit;
    display: block;
    width: initial;
  
    .navbar-menu {
      display: block;
      
      .navbar-links {
        display: flex;
        align-items: center;
        gap: 1.5rem;
      
        li {
          opacity: 1;
          transform: initial;
          text-align: center;
        
          a {
            transition: 0.4s ease-in-out;
            color: theme.$WhiteOpacityMid;
            @include theme.SmFontSize;
            font-weight: 200;
          }
        }
      
        .contact-link {
          @include theme.BtnMain;
          padding: 0.5rem 0.75rem;
        
          &:hover a { color: theme.$Cream; }

          a {
            display: flex;
            gap: 0.5rem;
            
            &::before {
              content: '';
              @include theme.FooterIcon;
              background-image: url(/images/icons/contact-icon.svg);
            }
          }
        }
      }
    }
  }
} 