@use 'variables' as theme;

.dashboard-header {
  position: sticky;
  z-index: 10;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(-160deg, #000000  0%, #1E293B  100%);

  .main-logo {
    .img-container {
      width: 100%;
      height: 100%;
    
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }      
  }

  .nav-icon {
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
    
    &::after {
      @include theme.IconStandard;
      @include theme.XLrgDimensions;
      transition: 0.4s ease-in-out;
      background-image: url(/images/site-icons/icon-burger-nav.svg);        
    }
    
    &:hover::after { background-image: url(/images/site-icons/icon-burger-nav-hv.svg); }
  }

  .nav-icon.expanded {
    transition: 0.4s ease-in-out;
    
    &::after { background-image: url(/images/site-icons/icon-close.svg); }
    
    &:hover::after { background-image: url(/images/site-icons/icon-close-hv.svg); }
  }

  .main-navbar {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
    background: linear-gradient(-45deg, #000000  0%, #1E293B  100%);
    display: none;

    .navbar-menu {
      padding: 1.25rem;

      .navbar-links {
        text-align: left;
        padding: 1rem 0;

        li {
          padding: 0.75rem 0;
          display: grid;
          cursor: pointer;

          a {
            display: flex;
            gap: 1rem;
            align-items: center;
            transition: 0.4s ease-in-out;
            
            p {
              color: #FAFAFA;
              @include theme.LrgFontSize;
              font-weight: 300;
              font-family: 'Heebo', sans-serif;
            }

            .menu-icon { @include theme.NavIcon; }
            
            .home-icon { background: url(/images/site-icons/logo-initial.svg) no-repeat; }

            .about-icon { background: url(/images/site-icons/nav-about.svg) no-repeat; }

            .contact-icon { background: url(/images/site-icons/nav-contact.svg) no-repeat; }

            .projects-icon { background: url(/images/site-icons/nav-projects.svg) no-repeat; }
          }

          &:hover { 
            @include theme.MainTextCol; 
            
            .home-icon { background: url(/images/site-icons/logo-initial.svg) no-repeat; }

            .about-icon { background: url(/images/site-icons/nav-about-hv.svg) no-repeat; } 

            .contact-icon { background: url(/images/site-icons/nav-contact-hv.svg) no-repeat; }

            .projects-icon { background: url(/images/site-icons/nav-projects-hv.svg) no-repeat; }
          }
        }

        .home-link-active {            
          @include theme.MainTextCol; 
          
          .home-icon { background: url(/images/site-icons/logo-initial.svg) no-repeat; }
        }

        .about-link-active {            
          @include theme.MainTextCol; 
          
          .about-icon { background: url(/images/site-icons/nav-about-hv.svg) no-repeat; } 
        }

        .projects-link-active {            
          @include theme.MainTextCol; 
          
          .projects-icon { background: url(/images/site-icons/nav-projects-hv.svg) no-repeat; }
        }
      }
    }
  }

  .main-navbar.expanded { 
    display: block;

    .navbar-menu  {
      ul {
        display: grid;
        gap: 3rem;

        li { padding: 0 0; }
      }
    }
  }
}

@media only screen and (min-width: 52.5rem) {

  .body-container {
    .dashboard-header {
      height: 100vh;
      display: grid;
      align-items: start;
      padding: 1.5rem 2rem;
      background: initial;

      &::after {
        content: '';
        position: absolute;
        top: 100px;
        right:  0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, rgba(30, 41, 59, 0) 0%, rgba(255, 1, 129, 0.2) 10%, rgba(103, 232, 249, 0.5) 50%, rgba(255, 1, 129, 0.2) 90%) rgba(30, 41, 59, 0) 100%,;
      }

      .nav-icon { display: none; }

      .main-navbar {
        display: grid;
        background: inherit;
        top: 100px;

        .navbar-menu {
          padding: 0 1rem 0 2.25rem;

          .navbar-links {
            display: grid;
            gap: 1rem;
            padding: 1rem 0;
            // justify-content: center;

            a p { display: none; }

            a { @include theme.MedFontSize; }
          }

          .nav-link {
            
            &::before {
              @include theme.IconStandard;
              @include theme.LrgDimensions;
            }
          }
        }
      }
    }
  }
} 