$White: #E4E4E4;
$WhiteOpacityLight: rgba(228, 228, 228, 0.3);
$WhiteOpacityMid: rgba(228, 228, 228, 0.7);
$Cream: #F5E8D8;
$Coral: #FF6F61;
$CoralOpacity: rgba(255, 111, 97, 0.7);

$TrueBlack: #000000;
$SubBlack: #111111;
$HintBlack: #101010;
$AccentBlack: #171717;

$LightGrey: #7D7D7D;

@mixin XsmFontSize { font-size: 0.9rem; }
@mixin SmFontSize { font-size: 1rem; }
@mixin MedLrgFontSize { font-size: 2rem; }
@mixin LrgFontSize { font-size: 2.5rem; }
@mixin XLrgFontSize { font-size: 3rem; }
@mixin EXLrgFontSize { font-size: 3.5rem; }

@mixin MainTextCol {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  width: fit-content;
  background: linear-gradient(90deg, $Cream 0, $LightGrey 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
} 

@mixin CoralTextCol {
  font-family: "Bricolage Grotesque", sans-serif;
  width: fit-content;
  background: linear-gradient(90deg, $Coral 0, $CoralOpacity 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
} 

@mixin LinkArrow {
  display: flex;
  justify-content: space-between;
  transition: all 0.4s ease-in-out;

  &:after {
    content: '';
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain; 
    background-image: url(/images/site-icons/icon-arrow.svg);   
    transition: all 0.4s ease-in-out;
    background-position: center;
  }
}

@mixin BtnMain {
  transition: 0.4s ease-in-out;
  border-radius: 1rem;
  position: relative;
  z-index: 1;
  background: linear-gradient(90deg, $Coral, $CoralOpacity);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0.07rem;
    border-radius: 1rem;
    z-index: -1;
    background: linear-gradient(90deg, $HintBlack, $SubBlack);
  }

  &:hover { 
    background: linear-gradient(90deg, $Coral, $Coral);
    color: $Cream;
  }
}

@mixin ImgMain {
  width: 100%;
  height: 100%;
  max-height: 28rem;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@mixin FooterIcon {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  transition: all .4s ease-in-out;
  cursor: pointer;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@mixin SkillsIcon {
  display: block;
  width: 3.5rem;
  height: 3.5rem;    
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}