$White: #E4E4E4;
$WhiteOpacityLight: rgba(228, 228, 228, 0.3);
$WhiteOpacityMid: rgba(228, 228, 228, 0.7);
$Cream: #F5E8D8;
$Coral: #FF6F61;
$CoralOpacity: rgba(255, 111, 97, 0.5);

$TrueBlack: #000000;
$SubBlack: #111111;
$HintBlack: #101010;
$AccentBlack: #171717;

$LightGrey: #7D7D7D;

@mixin SmPadZeroPad { padding: 0.5rem 0; }
@mixin MedPadZeroPad { padding: 1.25rem 0; }
@mixin LrgPadZeroPad { padding: 2rem 0; }

@mixin XsmFontSize { font-size: 0.875rem; }
@mixin SmFontSize { font-size: 1rem; }
@mixin SmMedFontSize { font-size: 1.125rem; }
@mixin MedFontSize { font-size: 1.25rem; }
@mixin MedLrgFontSize { font-size: 1.5rem; }
@mixin LrgFontSize { font-size: 2.5rem; }
@mixin XLrgFontSize { font-size: 3rem; }
@mixin EXLrgFontSize { font-size: 3.5rem; }

@mixin bordered($color, $width) {
  border: $width solid $color;
}

@mixin SmDimensions {
  width: 0.5rem;
  height: 0.5rem;
} 

@mixin MedDimensions {
  width: 0.75rem;
  height: 0.75rem;
}

@mixin LrgDimensions {
  width: 1.5rem;
  height: 1.5rem;
}

@mixin XLrgDimensions {
  width: 2.75rem;
  height: 2.75rem;
}

@mixin IconStandard {
  content: '';
  display: block;
  background-repeat: no-repeat;
  background-size: contain; 
  background-position: center;
}

@mixin BackgroundStandard {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin MainTextCol {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  width: fit-content;
  background: linear-gradient(90deg, $Cream 0, $LightGrey 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
} 

@mixin CoralTextCol {
  font-family: "Bricolage Grotesque", sans-serif;
  width: fit-content;
  background: linear-gradient(90deg, $Coral 0, $CoralOpacity 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
} 

@mixin LinkArrow {
  display: flex;
  justify-content: space-between;
  transition: all 0.4s ease-in-out;

  &:after {
    content: '';
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain; 
    background-image: url(/images/site-icons/icon-arrow.svg);   
    transition: all 0.4s ease-in-out;
    background-position: center;
  }
}

// @mixin Btn {
//   position: relative;
//   cursor: pointer;
//   width: fit-content;
//   height: fit-content;
//   font-size: 1em;
//   font-weight: 500;
//   text-align: center;
//   color: black;
//   padding: 1rem 2rem;
//   border-radius: 0.25rem;  
//   transition: all .4s ease-in-out;
//   z-index: 1; 

//   &::before {
//     content: '';
//     position: absolute;
//     top: 0; 
//     left: 0;
//     right: 0;
//     bottom: 0;
//     margin: 0.1rem;
//     border: 3px solid black;
//     border-radius: 0.25rem;
//     z-index: -1;
//   }
// }

@mixin BtnMain {
  transition: 0.4s ease-in-out;
  border-radius: 1rem;
  position: relative;
  z-index: 1;
  background: linear-gradient(90deg, $Coral, $CoralOpacity);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0.06rem;
    border-radius: 1rem;
    z-index: -1;
    background: linear-gradient(90deg, $HintBlack, $SubBlack);
  }

  &:hover { background: linear-gradient(90deg, $Coral, $Coral); }
}

@mixin ImgMain {
  width: 100%;
  height: 100%;
  max-height: 28rem;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

// @mixin BtnMain { 
//   // background: linear-gradient(60deg, $HotPink, $Teal); 

//   // &::before { background: linear-gradient(60deg, $HotPink, $Teal); }

//   &:hover::before { box-shadow: 0 0 3px 4px rgba(237, 30, 128, 0.5), 0 0 3px 4px rgba(129, 210, 100, 0.5); }
// }

@mixin NavIcon {
  display: block;
  width: 3rem;
  height: 3rem;    
  background-position: center;
  background-size: contain;
}

@mixin FooterIcon {
  display: block;
  width: 1.25rem;
  height: 1.25rem;    
  background-position: center;
  transition: all .4s ease-in-out;
  cursor: pointer;
}

@mixin SkillsIcon {
  display: block;
  width: 3.5rem;
  height: 3.5rem;    
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}