@use 'variables' as theme;

.works-container {
  display: grid;
  gap: 2rem;
  padding: 2rem 1rem;

  .img-container { @include theme.ImgMain; } 

  h2 { 
    @include theme.MedLrgFontSize;
    text-align: center;
    place-self: center;
  }

  .back-btn {
    color: theme.$WhiteOpacityMid;
    width: fit-content;
    @include theme.XsmFontSize;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    align-items: center;

    &:hover { color: theme.$White; }

    &::before {
      content: '';
      @include theme.FooterIcon;
      background-image: url(/images/icons/arrow-icon.svg);
      transform: scaleX(-1);
    }
  }

  .works-header {
    display: grid;
    gap: 1.5rem;
    padding: 1rem 0;

    
    h1 {
      text-align: center;
      @include theme.XLrgFontSize;
      
      .main-text-col { @include theme.MainTextCol; }
      
      .coral-text-col { @include theme.CoralTextCol; }
    }

    .sub-info {
      display: grid;
      gap: 1rem;

      li {
        display: grid;
        gap: 0.5rem;

        .sub-title {
          color: theme.$Cream;
          letter-spacing: 0.3rem;
          text-transform: uppercase;
        }

        .sub-text { color: theme.$WhiteOpacityMid; }
      }
    }
  }

  .works-overview {
    display: grid;
    gap: 2.5rem;    

    .summary-overview { 
      color: theme.$WhiteOpacityMid;
      text-align: center;
      line-height: 1.6;
    }

    .overview-info {
      display: grid;
      gap: 1.25rem;

      .overview-point {
        display: grid;
        gap: 0.75rem;
        background: linear-gradient(90deg, theme.$HintBlack, theme.$SubBlack);
        border: 1px solid theme.$WhiteOpacityLight;
        border-radius: 0.5rem;
        padding: 1.25rem 1rem;
        text-align: center;

        h3 {
          color: theme.$Cream;
          letter-spacing: 0.3rem;
          text-transform: uppercase;
          @include theme.SmFontSize;
        }

        p {
          color: theme.$WhiteOpacityMid;
          @include theme.XsmFontSize;
          line-height: 1.6;
        }
      }
    }

    .overview-images {
      display: grid;
      gap: 1rem;
    }
  }

  .works-enhance {
    display: grid;
    gap: 2.5rem; 

    p {
      color: theme.$WhiteOpacityMid;
      line-height: 1.6;
      text-align: center;
    }

    .enhance-images {
      display: grid;
      gap: 0.25rem;
      padding: 1rem 0.5rem;
      background: linear-gradient(90deg, theme.$HintBlack, theme.$SubBlack);
      border: 1px solid theme.$WhiteOpacityMid;
      border-radius: 0.5rem;
    }
  }

  .works-improvements {
    display: grid;
    gap: 2.5rem;

    p {
      color: theme.$WhiteOpacityMid;
      line-height: 1.6;
      text-align: center;
    }

    .improvements-points {
      display: grid;
      gap: 2rem;

      li {
        display: grid;
        gap: 0.75rem;
        background: linear-gradient(90deg, theme.$HintBlack, theme.$SubBlack);
        border: 1px solid theme.$WhiteOpacityLight;
        border-radius: 0.5rem;
        padding: 1.5rem 1rem;
        text-align: center;

        h3 {
          color: theme.$Cream;
          letter-spacing: 0.09rem;
          text-transform: uppercase;
          @include theme.SmFontSize;
        }

        p { @include theme.XsmFontSize; }
      }      
    }
  }

  .works-wireframe {
    display: grid;
    gap: 1.25rem;
  }

  .works-outcome {
    display: grid;
    gap: 1.25rem;
    padding: 1rem 0;
    margin-bottom: 1rem;

    p {
      color: theme.$WhiteOpacityMid;
      line-height: 1.6;
      text-align: center;
    }

    .live-link {
      @include theme.BtnMain;
      padding: 0.5rem 0.75rem;      
      margin-top: 2rem;
      place-self: center;
      color: theme.$WhiteOpacityMid;
      display: flex;
      gap: 1rem;
      align-items: center;
      
      &::after {
        content: '';
        @include theme.FooterIcon;
        width: 1rem;
        height: 1rem;
        background-image: url(/images/icons/arrow-redirect-icon.svg);
      }
    }
  }
}

.other-works {
  display: grid;
  gap: 2rem;
  padding: 2rem 1rem;
  
  h2 { 
    text-align: center;
    place-self: center;
  }

  .work-card {
    display: grid;
    gap: 1.5rem;
    padding: 1.5rem 1rem;
    background: linear-gradient(90deg, theme.$HintBlack, theme.$SubBlack);
    border: 1px solid theme.$WhiteOpacityLight;
    border-radius: 0.5rem;
    justify-items: center;
    
    .img-container {
      order: 2;
      @include theme.ImgMain;
    }
    
    h3 {
      order: 1;
      @include theme.SmMedFontSize;
      width: fit-content;
      text-align: center;
      
      .main-text-col { @include theme.MainTextCol; }
      
      .coral-text-col { @include theme.CoralTextCol; }
    }

    .link-arrow {
      order: 3;
      @include theme.BtnMain;
      padding: 0.5rem 0.75rem;
      margin-top: 2rem;      
      place-self: center;
      color: theme.$WhiteOpacityMid;
      display: flex;
      gap: 1rem;
      align-items: center;

       &::after {
        content: '';
        @include theme.FooterIcon;
        width: 1rem;
        height: 1rem;
        background-image: url(/images/icons/arrow-redirect-icon.svg);
      }        
    }
  }
}

@media only screen and (min-width: 28rem) {

  .works-container {
    
    h2 { @include theme.LrgXFontSize; }
  
    .back-btn { @include theme.SmFontSize; }
  
    .works-header {
      h1 { @include theme.EXLrgFontSize; }
    }
  
    .works-overview {
      .overview-info {
        .overview-point { padding: 2rem 1.5rem; }
      }
    }
  
    .works-improvements {
      .improvements-points {
        li { padding: 2rem 1.5rem; }      
      }
    }
  }

  .other-works {
    .work-card {
    
      h3 { @include theme.MedLrgFontSize; }
    }
  }
}

@media only screen and (min-width: 42rem) { }

@media only screen and (min-width: 52.5rem) {
  
  .works-container {
    padding: 2.5rem 1.5rem;
    
    h2 {
      @include theme.XLrgFontSize;
      text-align: left;
      place-self: start;
    }
    
    .works-header {
      h1 { @include theme.EXXLrgFontSize; }

      .sub-info {
        display: flex;
        justify-content: space-between;
      }
    }
  
    .works-overview {

      .summary-overview { text-align: left; }

      .overview-info {
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);

        .overview-point { 
          border: initial;
          border-left: 1px solid theme.$WhiteOpacityMid;
          border-radius: 0;
          text-align: left;
          align-content: flex-start;
        }
      }
      
      .overview-images { grid-template-columns: repeat(2, 1fr); }
    }

    .works-enhance {
      p { text-align: left; }

      .enhance-images { 
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 1rem;
      }
    }
  
    .works-improvements {
      p { text-align: left; }

      .improvements-points {
        gap: 4rem 2rem;
        grid-template-columns: repeat(2, 1fr);

        li {
          border: initial;
          border-left: 1px solid theme.$WhiteOpacityMid;
          border-radius: 0;
          text-align: left;
          align-content: flex-start;
        }      
      }
    }

    .works-outcome {
      p { text-align: left; }
    }
  }

  .other-works {
    grid-template-columns: repeat(2, 1fr);

    h2 { grid-column: 1 / span 2; }

    .work-card {
      padding: 0 0;

      .img-container { order: 1; }

      h3 {
        order: 2;
        text-align: left;
        padding: 0 1rem;
      }

      .link-arrow {
        order: 3;
        place-self: end;
        margin: 0 1rem 2rem;
      }
    }
  }
}

@media only screen and (min-width: 75rem) {

  .works-container,
  .other-works {
    width: 70rem;
    margin: 0 auto;
  }

}

@media only screen and (min-width: 100rem) {

  .works-container,
  .other-works { width: 85rem;  }
}
