@use 'variables' as theme;

.works-container {
  display: grid;
  gap: 2rem;
  padding: 1.5rem 0.75rem;

  .img-container { @include theme.ImgMain; } 

  h2 { 
    @include theme.MedLrgFontSize;
    text-align: center;
    place-self: center;
  }

  .back-btn {
    color: theme.$WhiteOpacityMid;
    width: fit-content;
    @include theme.XsmFontSize;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;

    &:hover { color: theme.$White; }

    &::before {
      content: '';
      @include theme.FooterIcon;
      background-image: url(/images/icons/arrow-icon.svg);
      transform: scaleX(-1);
    }
  }

  .works-header {
    display: grid;
    gap: 1.5rem;
    padding: 1rem 0;
    
    h1 {
      text-align: center;
      @include theme.XLrgFontSize;
      width: fit-content;
      
      .main-text-col { @include theme.MainTextCol; }
      
      .coral-text-col { @include theme.CoralTextCol; }
    }

    .sub-info {
      display: grid;
      gap: 1rem;

      li {
        display: grid;
        gap: 0.5rem;

        .sub-title {
          color: theme.$Cream;
          letter-spacing: 0.3rem;
          text-transform: uppercase;
        }

        .sub-text { color: theme.$WhiteOpacityMid; }
      }
    }
  }

  .works-overview {
    display: grid;
    gap: 2.5rem;    

    .summary-overview { 
      color: theme.$WhiteOpacityMid;
      text-align: center;
    }

    .overview-info {
      display: grid;
      gap: 1.25rem;

      .overview-point {
        display: grid;
        gap: 0.75rem;
        background: linear-gradient(90deg, theme.$HintBlack, theme.$SubBlack);
        border: 1px solid theme.$WhiteOpacityLight;
        border-radius: 0.5rem;
        padding: 1.25rem 1rem;
        text-align: center;

        h3 {
          color: theme.$Cream;
          letter-spacing: 0.3rem;
          text-transform: uppercase;
          @include theme.SmFontSize;
        }

        p {
          color: theme.$WhiteOpacityMid;
          @include theme.XsmFontSize;
          line-height: 1.6;
        }
      }
    }
  }

  .works-enhance {
    display: grid;
    gap: 2.5rem; 

    p {
      color: theme.$WhiteOpacityMid;
      line-height: 1.6;
      text-align: center;
    }

    .enhance-images {
      padding: 1rem 0.5rem;
      background: linear-gradient(90deg, theme.$HintBlack, theme.$SubBlack);
      border: 1px solid theme.$WhiteOpacityMid;
      border-radius: 0.5rem;
    }
  }

  .works-improvements {
    display: grid;
    gap: 1.25rem;

    p {
      color: theme.$WhiteOpacityMid;
      line-height: 1.6;
      text-align: center;
    }

    .improvements-points {
      display: grid;
      gap: 2rem;

      li {
        display: grid;
        gap: 0.75rem;
        background: linear-gradient(90deg, theme.$HintBlack, theme.$SubBlack);
        border: 1px solid theme.$WhiteOpacityLight;
        border-radius: 0.5rem;
        padding: 1.5rem 1rem;
        text-align: center;

        h3 {
          color: theme.$White;
          letter-spacing: 0.09rem;
          text-transform: uppercase;
          @include theme.SmFontSize;
        }

        p { @include theme.XsmFontSize; }
      }      
    }
  }

  .works-wireframe {
    display: grid;
    gap: 1.25rem;

    h2 { @include theme.LrgFontSize; }
  }

  .works-outcome {
    display: grid;
    gap: 1.25rem;
    padding: 1rem 0;
    margin-bottom: 1rem;

    p {
      color: theme.$WhiteOpacityMid;
      line-height: 1.6;
      text-align: center;
    }

    .live-link {
      @include theme.BtnMain;
      padding: 0.5rem 0.75rem;      
      place-self: center;
      color: theme.$WhiteOpacityMid;
      display: flex;
      gap: 1rem;
      align-items: center;
      
      &::after {
        content: '';
        @include theme.FooterIcon;
        width: 1rem;
        height: 1rem;
        background-image: url(/images/icons/arrow-redirect-icon.svg);
      }
    }
  }
}

.other-works {
  display: grid;
  gap: 2rem;
  padding: 1.5rem 0.75rem;
  
  h2 { 
    @include theme.MedLrgFontSize;
    text-align: center;
    place-self: center;
  }

  .work-card {
    display: grid;
    gap: 1.5rem;
    padding: 1rem 0.5rem;
    background: linear-gradient(90deg, theme.$HintBlack, theme.$SubBlack);
    border: 1px solid theme.$WhiteOpacityLight;
    border-radius: 0.5rem;
    
    .img-container {
      order: 2;
      @include theme.ImgMain;
    }
    
    h3 {
      order: 1;
      @include theme.SmMedFontSize;
      width: fit-content;
      text-align: center;
      
      .main-text-col { @include theme.MainTextCol; }
      
      .coral-text-col { @include theme.CoralTextCol; }
    }

    .link-arrow {
      order: 3;
      @include theme.BtnMain;
      padding: 0.5rem 0.75rem;      
      place-self: center;
      color: theme.$WhiteOpacityMid;
      display: flex;
      gap: 1rem;
      align-items: center;

       &::after {
        content: '';
        @include theme.FooterIcon;
        width: 1rem;
        height: 1rem;
        background-image: url(/images/icons/arrow-redirect-icon.svg);
      }        
    }
  }
}

@media only screen and (min-width: 26rem) { }

@media only screen and (min-width: 42rem) { }

@media only screen and (min-width: 52.5rem) { }

@media only screen and (min-width: 70rem) { }

@media only screen and (min-width: 90rem) { }

@media only screen and (min-width: 106rem) { }
