@use 'variables' as theme;

@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&family=Heebo:wght@100..900&display=swap');

* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Halant', serif;
  background: linear-gradient(-60deg, #000000 0, #1E293B 100%);
}

h1, h2, h3, h4, p { margin: 0; }

h1, h2, h3, h4 {
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
}

h1 { @include theme.EXLrgFontSize; }

h2 { @include theme.XLrgFontSize; }

h3 { @include theme.LrgFontSize; }

h4 { @include theme.MedFontSize; }

p {
  font-family: 'Halant', serif;
  @include theme.SmFontSize;
  font-weight: 300;
}

a {
  text-decoration: none;
  font-family: 'Heebo', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  outline: none;
  border: none;
}

.sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media only screen and (min-width: 26rem) {  
  
  p { @include theme.SmMedFontSize; }
}