@use 'variables' as theme;

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import 'navbar';
@import 'home';
@import 'about';
@import 'cs-amend';
@import 'cs-new';

* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  background: linear-gradient(theme.$TrueBlack 0%, theme.$SubBlack 50%, theme.$TrueBlack 100%);  
}

h1, h2, h3, h4, p { margin: 0; }

h1, h2, h3, h4 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 300;
}

h1 { @include theme.EXLrgFontSize; }

h2 { @include theme.XLrgFontSize; }

h3 { @include theme.LrgFontSize; }

h4 { @include theme.MedFontSize; }

p {
  font-family: "Plus Jakarta Sans", sans-serif;
  @include theme.SmFontSize;
  font-weight: 300;
}

a {
  text-decoration: none;
  font-family: "Plus Jakarta Sans", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  outline: none;
  border: none;
}

.sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

#detach-button-host { display: none; }

@media only screen and (min-width: 26rem) {  
  
  p { @include theme.SmMedFontSize; }
}

// @media only screen and (min-width: 70rem) {  
  
//   body { background: linear-gradient(#000000 0%, #1E293B 15%, #1E293B 75%, #000000 100%); }
// }

