@use 'variables' as theme;

.home-case-studies {
  padding: 2rem 1rem;
  display: grid;
  gap: 4rem;
  
  .img-container { @include theme.ImgMain; }

  .case-study-list {
    display: grid;
    gap: 2rem;
    padding: 0 0;

    .case-card {
      display: grid;
      padding: 1rem;
      gap: 2rem;      
      
      h3 {
        @include theme.LrgFontSize;
        
        .main-text-col { @include theme.MainTextCol; }
        
        .coral-text-col { @include theme.CoralTextCol; }
      }

      .cs-info {
        display: flex;
        gap: 1rem;

        p {
          color: theme.$WhiteOpacityMid;
          @include theme.XsmFontSize;
        }          
      }

      .cs-description {
        display: grid;
        gap: 2rem;

        li {
          display: grid;
          gap: 1.25rem;
          background: linear-gradient(90deg, theme.$HintBlack, theme.$SubBlack);
          border-left: 1px solid theme.$WhiteOpacityMid;
          padding: 2rem;

          h4 {
            color: theme.$Cream;
            letter-spacing: 0.2em;
            text-transform: uppercase;
          }

          p { 
            color: theme.$WhiteOpacityMid;
            @include theme.SmFontSize;
          }
        }
      }

      .link-arrow {
        @include theme.BtnMain;
        width: fit-content;
        padding: 0.5rem 1.25rem;
        color: theme.$WhiteOpacityMid;
        transition: 0.4s ease-in-out;
      }
    }
  }

}

footer {
  display: grid;

  .marquee {
    border-top: 1px solid theme.$WhiteOpacityLight;
    border-bottom: 1px solid theme.$WhiteOpacityLight;
    background: linear-gradient(theme.$AccentBlack 0%, theme.$SubBlack 50%, theme.$AccentBlack 100%);  
    overflow: hidden;

    .marquee-container {
      width: 100%;

      .inner-scroll {
        display: flex;
        animation: scroll-left 30s linear infinite;
        width: max-content;

        ul {
          display: flex;
          gap: 3rem;
          padding: 1.5rem 0;
          margin: 0;
          list-style: none;

          li {
            color: theme.$White;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            @include theme.XsmFontSize;
            font-weight: 300;

            &:last-of-type { margin-right: 3rem; }
          }
        }
      }
    }
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .footer-inner {
    display: grid;
    gap: 2rem;
    justify-content: center;
    padding: 2rem 0 3rem;

    
    .footer-navigation {

      .footer-nav-links {
        display: grid;
        gap: 2rem;
        justify-content: center;

        .footer-links {
          text-align: center;

          a {
            color: theme.$White;
            @include theme.XsmFontSize;
            transition: 0.4s ease-in-out;

            &:hover { color: theme.$Cream; }
          }
        }
      }
    }

    .footer-contact-info {
      display: grid;
      gap: 2rem;
      justify-content: center;
      justify-items: center;
      
      h2 {
        display: grid;
        justify-items: center;
        text-align: center;
        @include theme.XLrgFontSize;        
        
        .main-text-col { @include theme.MainTextCol; }

        .coral-text-col { @include theme.CoralTextCol; }
      }

      ul {
        display: flex;
        gap: 2.5rem;
        justify-content: center;

        li {
          cursor: pointer;          
          padding: 0.5rem;
          border: 2px solid theme.$CoralOpacity;
          border-radius: 50%;
          transition: all .4s ease-in-out;
          background: linear-gradient(90deg, theme.$HintBlack, theme.$SubBlack);

          &:hover {
            border: 2px solid theme.$Coral;
            background: linear-gradient(theme.$AccentBlack 0%, theme.$SubBlack 50%, theme.$AccentBlack 100%);  
          }

          .footer-icon { @include theme.FooterIcon; }
        
          .linkedin-icon { background-image: url(/images/icons/linkedin-icon.svg); }

          .github-icon { background-image: url(/images/icons/github-icon.svg); }

          .instagram-icon { background-image: url(/images/icons/instagram-icon.svg); }
        }
      }
      
      .contact-link {
        @include theme.BtnMain;
        padding: 0.5rem 0.75rem;
        transition: 0.4s ease-in-out;
        color: theme.$WhiteOpacityMid;
        @include theme.SmFontSize;
        font-weight: 200;
        width: fit-content;
      }
    }

    .copy-name {
      color: theme.$WhiteOpacityMid;
      letter-spacing: 0.3rem;
      text-transform: uppercase;
      @include theme.XsmFontSize;
      text-align: center;
    }
  }
}

.not-found-container {
  height: calc(100vh - 191px);
  
  .inner-not-found {
    padding: 3rem 0.75rem;
    display: grid;
    gap: 1rem;
    justify-content: center;
  }
}

@media only screen and (min-width: 26rem) { }

@media only screen and (min-width: 42rem) { }

@media only screen and (min-width: 52.5rem) { }

@media only screen and (min-width: 70rem) { }

@media only screen and (min-width: 90rem) { }

@media only screen and (min-width: 106rem) { }