@use 'variables' as theme;

.cs-next-prev-container {
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  a {
    width: 10rem;
    text-align: center;
    // color: theme.$White;
    display: grid;
    gap: 0.5rem;
    justify-items: center;
    border: 1px solid theme.$LightGrey;
    box-shadow: 0 0 8px 0 theme.$LightGrey;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: 0.4s all ease-in-out;
    
    .img-container {
      width: 100%;
      height: 100%;
      
      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }

    .icon-arrow {
      @include theme.SkillsIcon;
      height: 1.5rem;
      background: url(/images/site-icons/icon-arrow.svg) no-repeat;
    }

    .prev-arrow { transform: scaleX(-1); }
    
    &:hover {
      // color: theme.$HotPink;
      // border: 1px solid theme.$Teal;
      // box-shadow: 0 0 12px 0 theme.$Teal;
      
      .icon-arrow { background-image: url(/images/site-icons/icon-arrow-hv.svg); }
    }
  }

  &.both { justify-content: space-between; }

  &.only-next { justify-content: flex-end; }

  &.only-prev { justify-content: flex-start; } 
}

.home-case-studies {
  padding: 2rem 1rem;
  display: grid;
  gap: 4rem;
  
  h2 {
    @include theme.MainTextCol;
    @include theme.XLrgFontSize;
  }
  
  .img-container { @include theme.ImgMain; }

  .case-study-list {
    display: grid;
    gap: 2rem;
    padding: 0 0;

    .case-card {
      display: grid;
      padding: 1rem;
      gap: 2rem;
      
      h3 {
        @include theme.MainTextCol;
        @include theme.LrgFontSize;
      
        span { @include theme.CoralTextCol; }
      }

      .cs-info {
        display: flex;
        gap: 1rem;

        p {
          color: theme.$WhiteOpacityMid;
          @include theme.XsmFontSize;
        }          
      }

      .cs-description {
        display: grid;
        gap: 2rem;

        li {
          display: grid;
          gap: 1.25rem;
          background: linear-gradient(90deg, theme.$HintBlack, theme.$SubBlack);
          border-left: 1px solid theme.$WhiteOpacityMid;
          padding: 2rem;

          h4 {
            color: theme.$Cream;
            letter-spacing: 0.2em;
            text-transform: uppercase;
          }

          p { 
            color: theme.$WhiteOpacityMid;
            @include theme.SmFontSize;
          }
        }
      }

      .link-arrow {
        @include theme.BtnMain;
        width: fit-content;
        padding: 0.5rem 1.25rem;
        color: theme.$WhiteOpacityMid;
        transition: 0.4s ease-in-out;

        &:hover { color: theme.$Cream; }
      }


    }
  }

}

footer {
  display: grid;

  .marquee {
    border-top: 1px solid theme.$WhiteOpacityLight;
    border-bottom: 1px solid theme.$WhiteOpacityLight;
    background: linear-gradient(theme.$AccentBlack 0%, theme.$SubBlack 50%, theme.$AccentBlack 100%);  
    overflow: hidden;

    .marquee-container {
      width: 100%;

      .inner-scroll {
        display: flex;
        animation: scroll-left 30s linear infinite;
        width: max-content;

        ul {
          display: flex;
          gap: 3rem;
          padding: 1.5rem 0;
          margin: 0;
          list-style: none;

          li {
            color: theme.$White;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            @include theme.XsmFontSize;
            font-weight: 300;

            &:last-of-type { margin-right: 1.5rem; }
          }
        }
      }
    }
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .footer-inner {
    border: 1px solid white;

    .footer-contact-info {
      border: 1px solid yellow;
    }

    .footer-navigation {
      padding: 2rem 0;
      border: 1px solid pink;

      .footer-nav-links {
        display: grid;
        gap: 1rem;
        justify-content: center;

        .footer-links {
          border: 1px solid red;
        }
      }
    }
  }
}

.not-found-container {
  height: calc(100vh - 191px);
  
  .inner-not-found {
    padding: 3rem 0.75rem;
    display: grid;
    gap: 1rem;
    justify-content: center;
  
    // h1 { @include theme.MainTextCol; }
  
    // p { color: theme.$White; }
  }
}

@media only screen and (min-width: 26rem) { }

@media only screen and (min-width: 42rem) {
  
  // footer {

  //   ul {
  //     padding: 2rem 1.5rem 1rem 0;
  //     display: flex;
  //     justify-content: end;
  //     gap: 1.5rem;
  //   }
    
  //   p {
  //     padding: 0.5rem 1.5rem 1rem 0;
  //     place-self: end;
  //   }
  // }
}

@media only screen and (min-width: 52.5rem) {

  // .body-container {
  //   display: grid;
  //   // grid-template-columns: 16rem 1fr;
  //   gap: 2rem;

  //   // .db-container {
  //     // grid-column: 2;
  //     // overflow-x: hidden;
  //     // max-width: 100%;
  //   // }
  // }
  
  // .cs-next-prev-container {grid-column: 2; }
  
  // footer { grid-column: 2; }

  // .not-found-container { height: calc(100% - 121px); }
}

@media only screen and (min-width: 70rem) { }

@media only screen and (min-width: 90rem) {

  // .body-container {

  //   .db-container {
  //     overflow: auto;
  //     max-width: initial;
  //   }
  // }    
}

@media only screen and (min-width: 106rem) { }