@use 'variables' as theme;

.cs-next-prev-container {
  padding: 0 0.5rem;
  display: flex;
  gap: 1rem;

  a {
    width: 10rem;
    text-align: center;
    color: theme.$White;
    display: grid;
    gap: 0.5rem;
    justify-items: center;
    border: 1px solid theme.$LightGrey;
    box-shadow: 0 0 8px 0 theme.$LightGrey;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: 0.4s all ease-in-out;
    
    .img-container {
      width: 100%;
      height: 100%;
      
      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }

    .icon-arrow {
      @include theme.SkillsIcon;
      height: 1.5rem;
      background: url(/images/site-icons/icon-arrow.svg) no-repeat;
    }

    .prev-arrow { transform: scaleX(-1); }
    
    &:hover {
      color: theme.$HotPink;
      border: 1px solid theme.$Teal;
      box-shadow: 0 0 12px 0 theme.$Teal;
      
      .icon-arrow { background-image: url(/images/site-icons/icon-arrow-hv.svg); }
    }
  }

  &.both { justify-content: space-between; }

  &.only-next { justify-content: flex-end; }

  &.only-prev { justify-content: flex-start; } 
}

.marquee {
  padding-bottom: 1rem;

  .marquee-container {
    width: 100%;
    overflow: hidden;

    h2 { @include theme.MainTextCol; }

    .inner-scroll {
      display: flex;
      animation: scroll-left 30s linear infinite;
      width: max-content;

      ul {
        display: flex;
        gap: 1.5rem;
        padding: 0;
        margin: 0;
        list-style: none;

        li {
          font-family: 'Heebo', sans-serif;
          font-weight: 300;
          @include theme.LrgFontSize;
          @include theme.GreyTextCol;
          flex: 0 0 auto;

          &:last-of-type { margin-right: 1.5rem; }
        }
      }
    }
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

footer {
  display: grid;

  ul {
    padding: 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    li {      
      .footer-icon { @include theme.FooterIcon; }
  
      .linkedin-icon {
        background: url(/images/social-icons/svg/social-linkedin.svg) no-repeat;

        &:hover { background: url(/images/social-icons/svg/social-linkedin-hv.svg) no-repeat; }
      }
  
      .github-icon {
        background: url(/images/social-icons/svg/social-github.svg) no-repeat;

        &:hover { background: url(/images/social-icons/svg/social-github-hv.svg) no-repeat; }
      }
  
      .email-icon {
        background: url(/images/social-icons/svg/social-email.svg) no-repeat;

        &:hover { background: url(/images/social-icons/svg/social-email-hv.svg) no-repeat; }
      }
  
      .instagram-icon {
        background: url(/images/social-icons/svg/social-instagram.svg) no-repeat;

        &:hover { background: url(/images/social-icons/svg/social-instagram-hv.svg) no-repeat; }
      }
  
      .facebook-icon {
        background: url(/images/social-icons/svg/social-facebook.svg) no-repeat;

        &:hover { background: url(/images/social-icons/svg/social-facebook-hv.svg) no-repeat; }
      }
  
      .x-icon {
        background: url(/images/social-icons/svg/social-x.svg) no-repeat;

        &:hover { background: url(/images/social-icons/svg/social-x-hv.svg) no-repeat; }
      }
  
      .discord-icon {
        background: url(/images/social-icons/svg/social-discord.svg) no-repeat;

        &:hover { background: url(/images/social-icons/svg/social-discord-hv.svg) no-repeat; }
      }
    }
  }

  p { 
    color: theme.$White; 
    place-self: center;
  }
}

@media only screen and (min-width: 26rem) { }

@media only screen and (min-width: 42rem) {
  
  footer {

    ul {
      padding: 2rem 1.5rem 1rem 0;
      display: flex;
      justify-content: end;
      gap: 1.5rem;
    }
    
    p {
      padding: 0.5rem 1.5rem 1rem 0;
      place-self: end;
    }
  }
}

@media only screen and (min-width: 52.5rem) {

  .body-container {
    display: grid;
    grid-template-columns: 16rem 1fr;
    gap: 2rem;

    .db-container {
      grid-column: 2;
      overflow-x: hidden;
      max-width: 100%;
    }
  }
  
  .cs-next-prev-container {grid-column: 2; }
  
  footer { grid-column: 2; }
}

@media only screen and (min-width: 70rem) { }

@media only screen and (min-width: 90rem) {

  .body-container {

    .db-container {
      overflow: auto;
      max-width: initial;
    }
  }    
}

@media only screen and (min-width: 106rem) { }