@use 'variables' as theme;

.home-case-studies {
  padding: 2rem 1rem;
  display: grid;
  gap: 2rem;
  
  .img-container { @include theme.ImgMain; }

  .case-study-list {
    display: grid;
    gap: 4rem;
    padding: 0 0;

    .case-card {
      opacity: 0;
      transform: translateY(30px);
      transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  
      &.in-view {
        opacity: 1;
        transform: translateY(0);
      }
      
      .works-card {
        display: grid;
        padding: 1rem 0.5rem;
        gap: 2rem;
      
        h3 {
          @include theme.SmMedFontSize;
          text-align: center;
        
          .main-text-col { @include theme.MainTextCol; }
        
          .coral-text-col { @include theme.CoralTextCol; }
        }
      
        .cs-info {
          display: grid;
          gap: 1rem;
          text-align: center;
        
          p {
            color: theme.$WhiteOpacityMid;
            @include theme.XsmFontSize;
          }
        
          .cs-dot { display: none; }
        }
      
        .cs-description {
          display: grid;
          gap: 2rem;
          
          li {
            display: grid;
            gap: 1.25rem;
            background: linear-gradient(90deg, theme.$HintBlack, theme.$SubBlack);
            border: 1px solid theme.$WhiteOpacityLight;
            border-radius: 0.5rem;
            padding: 1.25rem 1rem;
            text-align: center;
          
            h4 {
              color: theme.$Cream;
              letter-spacing: 0.2em;
              text-transform: uppercase;
            }
          
            p {
              color: theme.$WhiteOpacityMid;
              @include theme.SmFontSize;
            }
          }
        }
      
        .link-arrow {
          place-self: center;
          @include theme.BtnMain;
          width: fit-content;
          padding: 0.5rem 1.25rem;
          color: theme.$WhiteOpacityMid;
          transition: 0.4s ease-in-out;
          display: flex;
          gap: 1rem;
          align-items: center;
        
          &::after {
            content: '';
            @include theme.FooterIcon;
            width: 1rem;
            height: 1rem;
            background-image: url(/images/icons/arrow-redirect-icon.svg);
          }
        }

        &:hover {
          .img-container {            
            img {              
              transform: scale(1.1);
            }
          }

          .link-arrow {
            background: linear-gradient(90deg, theme.$Coral, theme.$Coral);
            color: theme.$Cream;
          }
        }
      }
    }
  }
}

.home-case-studies.case-study-page { padding: 4rem 1rem 4rem; }

.case-study-page {  
  h2 { 
    @include theme.MedLrgFontSize;
    text-align: center;
    place-self: center;
  }
}

footer {
  display: grid;
  margin-top: 12rem;

  .marquee {
    border-top: 1px solid theme.$WhiteOpacityLight;
    border-bottom: 1px solid theme.$WhiteOpacityLight;
    background: linear-gradient(theme.$AccentBlack 0%, theme.$SubBlack 50%, theme.$AccentBlack 100%);  
    overflow: hidden;

    .marquee-container {
      width: 100%;

      .inner-scroll {
        display: flex;
        animation: scroll-left 30s linear infinite;
        width: max-content;

        ul {
          display: flex;
          gap: 3rem;
          padding: 1.5rem 0;
          margin: 0;
          list-style: none;

          li {
            color: theme.$White;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            @include theme.XsmFontSize;
            font-weight: 300;

            &:last-of-type { margin-right: 3rem; }
          }
        }
      }
    }
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .footer-inner {
    display: grid;
    gap: 2rem;
    justify-content: center;
    padding: 2rem 0 3rem;

    
    .footer-navigation {

      .footer-nav-links {
        display: grid;
        gap: 2rem;
        justify-content: center;

        .footer-links {
          text-align: center;

          a {
            color: theme.$White;
            @include theme.XsmFontSize;
            transition: 0.4s ease-in-out;

            &:hover { color: theme.$Cream; }
          }
        }
      }
    }

    .footer-contact-info {
      display: grid;
      gap: 2rem;
      justify-content: center;
      justify-items: center;
      
      h2 {
        display: grid;
        justify-items: center;
        text-align: center;
        @include theme.LrgFontSize;        
        
        .main-text-col { @include theme.MainTextCol; }

        .coral-text-col { @include theme.CoralTextCol; }
      }

      ul {
        display: flex;
        gap: 2.5rem;
        justify-content: center;

        li {
          cursor: pointer;          
          padding: 0.5rem;
          border: 2px solid theme.$CoralOpacity;
          border-radius: 50%;
          transition: all .4s ease-in-out;
          background: linear-gradient(90deg, theme.$HintBlack, theme.$SubBlack);

          &:hover {
            border: 2px solid theme.$Coral;
            background: linear-gradient(theme.$AccentBlack 0%, theme.$SubBlack 50%, theme.$AccentBlack 100%);  
          }

          .footer-icon { @include theme.FooterIcon; }
        
          .linkedin-icon { background-image: url(/images/icons/linkedin-icon.svg); }

          .github-icon { background-image: url(/images/icons/github-icon.svg); }

          .instagram-icon { background-image: url(/images/icons/instagram-icon.svg); }
        }
      }
      
      .contact-link {
        @include theme.BtnMainSecondary;
        padding: 0.5rem 0.75rem;
        transition: 0.4s ease-in-out;
        color: theme.$WhiteOpacityMid;
        @include theme.SmFontSize;
        font-weight: 200;
        width: fit-content;
        display: flex;
        gap: 0.5rem;
        
        &::before {
          content: '';
          @include theme.FooterIcon;
          background-image: url(/images/icons/contact-icon.svg);
        }
      }
    }

    .copy-name {
      color: theme.$WhiteOpacityMid;
      letter-spacing: 0.3rem;
      text-transform: uppercase;
      @include theme.XsmFontSize;
      text-align: center;
    }
  }
}

.not-found-container {
  height: calc(100vh - 191px);
  
  .inner-not-found {
    padding: 3rem 0.75rem;
    display: grid;
    gap: 1rem;
    justify-content: center;
  }
}

@media only screen and (min-width: 28rem) {

  .home-case-studies {
    .case-study-list {
      .case-card {
        .works-card {
          h3 { @include theme.MedLrgFontSize; }
        
          .cs-info {
            display: flex;
            justify-content: center;
          
            .cs-dot { display: block; }
          }
        
          .cs-description {
            li { padding: 2rem 1.5rem; }
          }
        }
      }
    }
  }

  .case-study-page {
    h2 { @include theme.LrgXFontSize; }
  }
}

@media only screen and (min-width: 42rem) { }

@media only screen and (min-width: 52.5rem) {

  .home-case-studies {
    padding: 2.5rem 1.5rem;

    .case-study-list {
      .case-card {
        .works-card {
          gap: 0;
        
          h3 {
            @include theme.EXLrgFontSize;
            order: 2;
            text-align: left;
            padding: 1.5rem 0 0.5rem;
          }
        
          .img-container { order: 1; }
        
          .cs-info {
            justify-content: start;
            order: 3;
          }
        
          .cs-description {
            order: 4;
            padding: 3rem 0;
            grid-template-columns: repeat(2, 1fr);
          
            li {
              border: initial;
              border-left: 1px solid theme.$WhiteOpacityMid;
              border-radius: 0;
              text-align: left;
              align-content: flex-start;
            }
          }
        
          .link-arrow {
            order: 5;
            align-items: start;
            place-self: start;
          }
        }
      }
    }
  }
  
  .case-study-page {
    h2 { 
      @include theme.XLrgFontSize;
      text-align: left;
      place-self: start;
    }
  }

  footer {
    .footer-inner {
      gap: 1rem;
      justify-content: center;
      padding: 4rem 1.75rem 3rem;
      grid-template-columns: 1fr auto;
    
      .footer-navigation {
        order: 2;
      
        .footer-nav-links {
          display: flex;
          gap: 2.5rem;
          justify-content: end;
        }
      }
    
      .footer-contact-info {
        order: 1;
        display: grid;
        gap: 2rem;
        justify-content: initial;
        justify-items: initial;
      
        h2 {
          justify-items: start;
          text-align: left;
          @include theme.XLrgFontSize;
        }
      
        ul { justify-content: start; }
      }
    
      .copy-name {
        order: 3;
        grid-column: 2;
        text-align: right;
      }
    }
  }
}

@media only screen and (min-width: 65rem) {
  
  .home-case-studies {
    
    .case-study-list {
      grid-template-columns: repeat(2, 1fr);
      
      .case-card {

        &:first-child {
          grid-column: 1 / span 2;

          .works-card {
            gap: 2rem;
            grid-template-columns: repeat(2, 1fr);
          
            .img-container { grid-row: 1 / span 5; }
          
            .cs-description {
              grid-template-columns: 1fr;
              padding: 0;
            
              li {
                &:first-child {
                  grid-column: 1;
                  grid-template-columns: 1fr;
                }
              }
            }
          }
        }

        .works-card {
          h3 { padding: 0; }
        
          .cs-description {
            grid-template-columns: 1fr;
            padding: 0;
          
            li {
              &:first-child {
                grid-column: 1;
                grid-template-columns: 1fr;
              }
            }
          }
        }

        &:nth-child(2n + 2),
        &:nth-child(3n + 2),
        &:nth-child(2n + 3) {
          
          .works-card {
            gap: 1rem;
          
            .cs-description {
              padding: 1rem 0 2rem;

              li { padding: 1rem; }
            }
          }
        }
      }
    }
  }

}

@media only screen and (min-width: 75rem) {
  
  footer {
    .footer-inner {
      width: 70rem;
      margin: 0 auto;
    }
  }

  .case-study-page {
    width: 70rem;
    margin: 0 auto;
  }

}

@media only screen and (min-width: 100rem) {
  
  footer {
    .footer-inner { width: 85rem; }
  }

  .case-study-page { width: 85rem;  }
}