@use 'variables' as theme;

.home-container { 
  
  .home-about {   
    
    .about-intro {
      padding: 2rem 1rem;
      display: grid;
      gap: 1rem;
      padding-bottom: 1.5rem;
      
      h1 { @include theme.MainTextCol; }
      
      .about-text {
        display: grid;
        gap: 1rem;
        color: theme.$White;
        order: 3;
      }
      
      .about-img-container {
        order: 2;
        width: 100%;
        height: 100%;
        max-height: 28rem;
        
        .about-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }    

    .marquee {      
      .marquee-container {        
        h2 { padding: 0.5rem 1rem; }
      }
    }

  }

  .home-skills {
    padding: 2rem 1rem;    

    ul {
      display: grid;
      gap: 2rem;

      li {
        position: relative;
        padding: 1.5rem 0 2rem;
        display: grid;
        gap: 1rem;

        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background: linear-gradient(90deg, rgba(30, 41, 59, 0) 0%, #67E8F9 50%, rgba(30, 41, 59, 0) 100%);
        }

        &:last-of-type::before { background: transparent; }

        .skills-header {
          color: theme.$White;
          display: flex;
          gap: 1rem;
          padding-bottom: 2.25rem;

          &::before {
            @include theme.IconStandard;
            place-self: center;
            width: 3.5rem;
            height: 3.5rem;
          }
        }

        .wd-icon {
          @extend .skills-header;
          &::before { background-image: url(/images/site-icons/info-web-design.svg); }
        }

        .fed-icon {
          @extend .skills-header;
          &::before { background-image: url(/images/site-icons/info-fed.svg); }
        }

        .di-icon {
          @extend .skills-header;
          &::before { background-image: url(/images/site-icons/info-illustrator.svg); }
        }
       
        .heading-container {
          display: flex;
          align-items: center;
          position: relative;
          margin-bottom: 2rem;

          &::before, &::after {
            content: "<h3>";
            position: absolute;            
            left: 0;
            color: theme.$MidGrey;
            font-size: 0.8rem;
          }
          
          &::before { top: -30px; }

          &::after { bottom: -30px; }
          
          .vertical-line {
            width: 2px;
            height: 100%;
            background: #334155;
            margin-left: 0.9rem;
          }
          
          p { 
            color: theme.$White; 
            margin-left: 1rem;
          }
        }

      }
    }
  }

  .home-case-studies {
    padding: 2rem 1rem; 
    display: grid;
    gap: 2rem;

    h2 { @include theme.MainTextCol; }

    ul {
      display: grid;
      gap: 2rem;
    }

    .cs-cards {
      width: 100%;
      border: 1px solid theme.$LightGrey;
      border-radius: 0.5rem;      
      place-self: center;
      cursor: pointer;

      .cs-cards-container {
        display: grid;
        gap: 1rem;
        padding: 1.5rem 1rem;

        .img-container {
          width: 100%;
          height: 6rem;
        
          .card-img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        
        h3, p { color: theme.$White; }
      
        h3 { 
          @include theme.MedFontSize;
          text-align: center; 
        }
      
        p { 
          @include theme.LinkArrow; 
          padding-right: 0.5rem;

          &::after { transition-duration: 0.1s; }
        }
      }

      &:hover {
        background: linear-gradient(-160deg, #000000  0%, #1E293B  100%);
        box-shadow: 0 0 8px 0 theme.$LightGrey;

        h3 {
          @include theme.MainTextCol;
          margin: 0 auto;
        }

        p {
          color: theme.$HotPink;
          padding-right: 0;
  
          &::after { 
            background-image: url(/images/site-icons/icon-arrow-hv.svg); 
            transform: translateX(0);
          }
        }
      }
    }

    .project-btn {
      @include theme.Btn;
      @include theme.BtnMain;
      place-self: center;
    }
  }
}

.about-container {

  .about-header {
    padding: 2rem 1rem;
    display: grid;
    gap: 1rem;
    padding-bottom: 1.5rem;

    h1 {
      @include theme.XLrgFontSize;
      @include theme.MainTextCol;
    }
    
    .about-text {
      display: grid;
      gap: 1rem;
      color: theme.$White;
    }

    .about-imgs {
      
      .img-container {
        width: 100%;
        height: 100%;
      
        .about-img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    
      .img-one, .img-three { display: none; }
    }
  }

  .about-skills {
    padding: 2rem 1rem;
    display: grid;
    gap: 1rem;
    padding-bottom: 1.5rem;    

    h2 {
      @include theme.XLrgFontSize;
      @include theme.MainTextCol;
    }

    .skills-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem 0.75rem;

      .skills-icon {
        @include theme.SkillsIcon;
        place-self: center;
      }
    
      .adobe-icon { background: url(/images/tech-icons/tech-adobe.svg) no-repeat; }
    
      .figma-icon { background: url(/images/tech-icons/tech-figma.svg) no-repeat; }
    
      .responsive-icon { background: url(/images/tech-icons/tech-responsive.svg) no-repeat; }
    
      .uxui-icon { background: url(/images/tech-icons/tech-uxui.svg) no-repeat; }
    
      .html-icon { background: url(/images/tech-icons/tech-html.svg) no-repeat; }
    
      .bootstrap-icon { background: url(/images/tech-icons/tech-bootstrap.svg) no-repeat; }
    
      .css-icon { background: url(/images/tech-icons/tech-css.svg) no-repeat; }
    
      .scss-icon { background: url(/images/tech-icons/tech-scss.svg) no-repeat; }
    
      .js-icon { background: url(/images/tech-icons/tech-js.svg) no-repeat; }
    
      .jquery-icon { background: url(/images/tech-icons/tech-jquery.svg) no-repeat; }
    
      .react-icon { background: url(/images/tech-icons/tech-react.svg) no-repeat; }
    }
  }

  .about-roles {
    padding: 2rem 1rem;
    display: grid;
    gap: 1rem;
    padding-bottom: 1.5rem;
    color: theme.$White;

    h2 {
      @include theme.XLrgFontSize;
      @include theme.MainTextCol;
    }

    .roles-header {
      display: grid;
      gap: 0.5rem;
      padding: 1rem 0;

      h3 {
        @include theme.MedFontSize;
        @include theme.GreyTextCol;
        font-weight: 300;
      }

      .job-title, .job-date {
        @include theme.MedFontSize; 
        font-weight: 300;
      }

      .job-date { place-self: end; }
    }

    .role-ul-container {
      position: relative;
      padding: 1.5rem 0 2rem;
      display: grid;
      gap: 1rem;
      
      .role-ul-contents {
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 1.25rem;
        
        &::before, &::after {
          content: "<ul>";
          position: absolute;
          left: 0;
          color: theme.$MidGrey;
          font-size: 0.8rem;
        }
        
        &::before { top: -30px; }
        
        &::after { bottom: -30px; }
        
        .vertical-line {
          width: 2px;
          height: 100%;
          background: #334155;
          margin-left: 0.9rem;
        }
        
        ul {
          color: theme.$White;
          margin-left: 1rem;
          display: grid;
          gap: 1rem;
        }
      }
    }

    .ih-container {
      padding: 1rem 0;

      h3 {
        @include theme.MedFontSize;
        @include theme.GreyTextCol;
        font-weight: 300;
        padding-bottom: 1.5rem;
      }
    }
  }  
}

.case-study-list {
  padding: 1.5rem 0.75rem;

  .cs-list-container {
    padding: 1rem 0;
    display: grid;
    gap: 2rem;

    &:first-of-type { padding: 0 0 1rem; }
    
    h2 {
      @include theme.XLrgFontSize;
      @include theme.MainTextCol;
      place-self: center;
    }

    .case-grid {            
      display: grid;
      gap: 2rem;
      
      .case-card {
        position: relative;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-items: center;
        color: theme.$White;

        h3 { text-align: center; }
        
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background: linear-gradient(90deg, rgba(30, 41, 59, 0) 0%, rgba(148, 163, 183, 50%) 50%, rgba(30, 41, 59, 0) 100%);
        }

        &:last-of-type::before { background: transparent; }

        .cs-img-container {
          width: 100%;
          height: 7rem;
        
          .cs-img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }        
        }

        .tech-imgs {
          display: flex;
          justify-content: center;
          gap: 1rem;
        }

        p { text-align: center }
      
        .link-arrow { 
          font-family: 'Halant', serif;
          @include theme.LinkArrow;
          font-size: 0.9rem;
          width: 100%;
          color: theme.$White;
          margin-top: auto;
        
          &:hover {
            color: theme.$HotPink;
          
            &::after { background-image: url(/images/site-icons/icon-arrow-hv.svg); }
          }
        }

        .cs-mini-links {
          width: 100%;          
          display: flex;
          justify-content: space-between;
          margin-top: auto;

          a { 
            display: flex;
            gap: 0.5rem;
            align-items: center;
            font-family: 'Halant', serif;
            font-size: 0.9rem;
            color: theme.$White; 
            transition: all 0.4s ease-in-out;
            
            &::before {
              content: '';
              display: block;
              width: 1rem;
              height: 1rem;
              background-repeat: no-repeat;
              background-size: contain;               
            }

            &:hover { color: theme.$Teal; }
          }

          .link-github {
            &::before { background-image: url(/images/social-icons/social-github.svg); }
          }

          .link-live {
            &::before { background-image: url(/images/site-icons/icon-globe.svg); }
          }
        }
      }
    }
  }
}

.amends-container {
  display: grid;
  gap: 2rem;
  color: theme.$White;
  padding: 1.5rem 0.75rem;


  .amend-header {
    display: grid;
    gap: 1rem;
    
    h1 {
      @include theme.LrgFontSize;
      @include theme.MainTextCol;
    }

    .image-slider {
      padding: 1rem 0;

      /* Wrapper for handle */
      .slider-wrapper {
        position: relative;
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none; /* So the outer div doesn't block interaction */
      }

      /* Vertical line */
      .wrapper-line {
        width: 2px;
        height: 100%;
        background-color: theme.$Black;
      }

      /* drag handle */
      .wrapper-handle {
        position: absolute;
        width: 0.5rem;
        height: 2.5rem;
        background-color: theme.$Black;
        border: 2px solid theme.$Black;
        border-radius: 0.25rem;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        pointer-events: auto; /* This is the actual draggable part */
      }
    }
  }

  .amend-summary {
    display: grid;
    gap: 1rem;

    h2 {
      @include theme.LrgFontSize;
      @include theme.MainTextCol;
    }

    .summary-text {
      display: grid;
      gap: 1rem;
    }
  }

  .amend-issues {
    display: grid;
    gap: 1rem;
    
    h2 {
      @include theme.LrgFontSize;
      @include theme.MainTextCol;
    }

    .issues-text {
      order: 2;
      display: grid;
      gap: 1rem;
    }

    .img-container {
      order: 1;
      margin-bottom: 1rem;
      width: 100%;
      height: 11rem;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  
  .amend-goals {
    display: grid;
    gap: 1.5rem;
    
    h2 {
      @include theme.LrgFontSize;
      @include theme.MainTextCol;
    }

    .goals-list {
      display: grid;
      gap: 2rem;

      li {
        position: relative;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1rem;
        padding-bottom: 1rem;

        .icon-goals {
          @include theme.SkillsIcon; 
          background: url(/images/site-icons/cs-goal.svg) no-repeat;
        }
        
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background: linear-gradient(90deg, rgba(30, 41, 59, 0) 0%, rgba(148, 163, 183, 50%) 50%, rgba(30, 41, 59, 0) 100%);
        }

        &:last-of-type::before { background: transparent; }
      }
    }
  }

  .amend-process {
    display: grid;
    gap: 2rem;
    
    h2 {
      @include theme.LrgFontSize;
      @include theme.MainTextCol;
    }

    .process-container {
      display: grid;
      gap: 1.5rem;

      .process-list {
        order: 2;
        display: grid;
        gap: 1.25rem;

        li {
          display: grid;
          gap: 1rem;
          
          h3 {
            @include theme.LrgFontSize;
            @include theme.GreyTextCol;
          }
        }
      }

      .process-imgs {
        order: 1;
        margin-bottom: 1rem;
        display: flex;

        .img-container {
          width: 100%;
          height: 11rem;
          
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }      
    }
  }

  .amend-solution {    
    display: grid;
    gap: 2rem;
    
    h2 {
      @include theme.LrgFontSize;
      @include theme.MainTextCol;
    }

    .solution-list {
      display: grid;
      gap: 2rem;

      li {
        border: 1px solid theme.$LightGrey;
        border-radius: 0.5rem;
        padding: 2rem 1rem;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1rem;

        .icon-solution {
          @include theme.SkillsIcon; 
          background: url(/images/site-icons/cs-solution.svg) no-repeat;
        }

        h3 { @include theme.MedFontSize; }

        p { grid-column: 1 / span 2; }
      }
    }
  }
  
  .amend-reflection {    
    display: grid;
    gap: 2rem;
    
    h2 {
      @include theme.LrgFontSize;
      @include theme.MainTextCol;
    }

    .reflection-text {
      display: grid;
      gap: 1rem;
    }

    .reflection-imgs {
      display: flex;
      position: relative;
      padding: 3rem 0;
      width: fit-content;
      place-self: center;
      
      .img-container {
        width: auto;
        height: 12rem;
        
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .img-container:last-child {
        position: absolute;
        right: 0;
        top: 5rem;
      }
    }
  } 
}

.new-cs-container {
  display: grid;
  gap: 2rem;
  color: theme.$White;
  padding: 1.5rem 0.75rem;
  
  .new-cs-header {
    display: grid;
    gap: 1rem;
    
    h1 {
      @include theme.LrgFontSize;
      @include theme.MainTextCol;
    }
    
    .img-container {
      width: 100%;
      height: 11rem;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .new-cs-summary {
    display: grid;
    gap: 2rem;
    
    h2 {
      @include theme.LrgFontSize;
      @include theme.MainTextCol;
    }

    .sumary-text {
      display: grid;
      gap: 1rem;
    }

  }

  .new-cs-overview {
    display: grid;
    gap: 2rem;
    
    h2 {
      @include theme.LrgFontSize;
      @include theme.MainTextCol;
    }

    .overview-container {      
      display: grid;
      gap: 1.5rem;

      .overview-text {
        order: 2;
        display: grid;
        gap: 1.25rem;
      }

      .overview-images {
        order: 1;
        margin-bottom: 1rem;
        display: flex;
        gap: 1rem;
        width: fit-content;
        place-self: center;

        .img-container {
          width: 100%;
          height: 11rem;
          
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }

      .overview-footer {
        order: 3;
        display: grid;
        gap: 1.25rem;
        
        h3 {
          @include theme.LrgFontSize;
          @include theme.GreyTextCol;
        }

        ul {
          display: grid;
          gap: 1rem;
          list-style: disc;
          margin-left: 1.5rem;
        }

        .additional-imgs {
          display: grid;
          gap: 1rem;

          .img-container {
            width: 100%;
            height: auto;
          
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
      }
    }
  }

  .new-cs-colours {
    display: grid;
    gap: 2rem;

    h2 {
      @include theme.LrgFontSize;
      @include theme.MainTextCol;
    }

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-self: center;
      gap: 2rem;

      li {        
        width: fit-content;
        place-self: center;
        display: grid;
        gap: 0.75rem;

        .colours-dot {
          border: 1px solid theme.$LightGrey;
          height: 5rem;
          width: 5rem;
          border-radius: 50%;
        }

        p { text-align: center; }

      }
    }
  }

  .new-cs-role {
    display: grid;
    gap: 2rem;

    h2 {
      @include theme.LrgFontSize;
      @include theme.MainTextCol;
    }

    .role-container {      
      display: grid;
      gap: 1rem;

      .role-reponsibility {
        display: grid;
        gap: 0.5rem;

        ul {
          display: grid;
          gap: 1rem;
          list-style: disc;
          margin-left: 1.5rem;
        }
      }
    }

    .role-tech-imgs {
      display: grid;
      gap: 1.5rem;
      
      h3 {
        @include theme.LrgFontSize;
        @include theme.GreyTextCol;
      }

      .role-images {
        display: flex;
        gap: 1rem;
        justify-content: center;
      }
    }
  }

  .new-cs-goals {
    display: grid;
    gap: 2rem;

    h2 {
      @include theme.LrgFontSize;
      @include theme.MainTextCol;
    }

    .goals-container { 
      display: grid;
      gap: 1.5rem;

      .goals-text {
        order: 2;
        display: grid;
        gap: 1.25rem;
      }

      .goal-imgs-container {        
        order: 1;
        margin-bottom: 1rem;
        display: flex;
        gap: 1rem;
        width: fit-content;
        place-self: center;

        .img-container {
          width: 100%;
          height: 11rem;
          
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }

  .new-cs-highlights {
    display: grid;
    gap: 2rem;

    h2 {
      @include theme.LrgFontSize;
      @include theme.MainTextCol;
    }

    .highlights-list {      
      display: grid;
      gap: 1rem;

      li {
        padding: 2rem 1rem;
        border: 1px solid theme.$LightGrey;
        border-radius: 0.5rem;
        display: grid;
        gap: 1rem;

        .icon-highlights {
          @include theme.SkillsIcon; 
          background: url(/images/site-icons/cs-highlights.svg) no-repeat;
        }
      }
    }
  }

  .new-cs-reflection {
    display: grid;
    gap: 2rem;
    
    h2 {
      @include theme.LrgFontSize;
      @include theme.MainTextCol;
    }

    .reflection-text {
      display: grid;
      gap: 1rem;
    }

    .reflection-imgs {
      margin-bottom: 1rem;
      display: grid;
      gap: 1rem;
      width: fit-content;
      place-self: center;

      .img-container {
        width: 100%;
        height: 11rem;
        
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }       
    }
  }
}

.cs-next-prev-container {
  display: flex;
  gap: 1rem;

  a {
    width: 10rem;
    text-align: center;
    color: theme.$White;
    display: grid;
    gap: 0.5rem;
    justify-items: center;
    
    .img-container {
      width: 100%;
      height: 100%;
      
      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }

    .icon-arrow {
      @include theme.SkillsIcon;
      height: 1.5rem;
      background: url(/images/site-icons/icon-arrow.svg) no-repeat;
    }

    .prev-arrow { transform: scaleX(-1); }
    
    &:hover {
      color: theme.$HotPink;
      
      .icon-arrow { background-image: url(/images/site-icons/icon-arrow-hv.svg); }
    }
  }

  &.both { justify-content: space-between; }

  &.only-next { justify-content: flex-end; }

  &.only-prev { justify-content: flex-start; } 
}

.marquee {
  padding-bottom: 1rem;

  .marquee-container {
    width: 100%;
    overflow: hidden;

    h2 { @include theme.MainTextCol; }

    .inner-scroll {
      display: flex;
      animation: scroll-left 30s linear infinite;
      width: max-content;

      ul {
        display: flex;
        gap: 1.5rem;
        padding: 0;
        margin: 0;
        list-style: none;

        li {
          font-family: 'Heebo', sans-serif;
          font-weight: 300;
          @include theme.LrgFontSize;
          @include theme.GreyTextCol;
          flex: 0 0 auto;

          &:last-of-type { margin-right: 1.5rem; }
        }
      }
    }
  }
}


@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

footer {
  display: grid;

  ul {
    padding: 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // grid-template-columns: repeat(7, 1fr);
    gap: 2rem 0.25rem;

    li {      
      .footer-icon { @include theme.FooterIcon; }
  
      .linkedin-icon {
        background: url(/images/social-icons/svg/social-linkedin.svg) no-repeat;
        &:hover { background: url(/images/social-icons/svg/social-linkedin-hv.svg) no-repeat; }
      }
  
      .github-icon {
        background: url(/images/social-icons/svg/social-github.svg) no-repeat;
        &:hover { background: url(/images/social-icons/svg/social-github-hv.svg) no-repeat; }
      }
  
      .email-icon {
        background: url(/images/social-icons/svg/social-email.svg) no-repeat;
        &:hover { background: url(/images/social-icons/svg/social-email-hv.svg) no-repeat; }
      }
  
      .instagram-icon {
        background: url(/images/social-icons/svg/social-instagram.svg) no-repeat;
        &:hover { background: url(/images/social-icons/svg/social-instagram-hv.svg) no-repeat; }
      }
  
      .facebook-icon {
        background: url(/images/social-icons/svg/social-facebook.svg) no-repeat;
        &:hover { background: url(/images/social-icons/svg/social-facebook-hv.svg) no-repeat; }
      }
  
      .x-icon {
        background: url(/images/social-icons/svg/social-x.svg) no-repeat;
        &:hover { background: url(/images/social-icons/svg/social-x-hv.svg) no-repeat; }
      }
  
      .discord-icon {
        background: url(/images/social-icons/svg/social-discord.svg) no-repeat;
        &:hover { background: url(/images/social-icons/svg/social-discord-hv.svg) no-repeat; }
      }
    }
  }

  p { 
    color: theme.$White; 
    place-self: center;
  }
}

@media only screen and (min-width: 26rem) {  
  
  .body-container{
    .home-container {
      .home-about {
        .about-intro {
          padding: 2.5rem 1.5rem;
          .about-img-container { max-height: 32rem; }
        }
      }
    }
    
    .case-study-list { padding: 2.5rem 1.5rem; }
  }  
}

@media only screen and (min-width: 42rem) {
  
  .body-container {    
    .home-container {     
      .home-case-studies { 
        ul {
          grid-template-columns: repeat(2, 1fr);
          gap: 1rem;
        } 
      }
    }
    
    .case-study-list {

      .cs-list-container {

        h2 {
          place-self: start;
        }

        .case-grid {
          grid-template-columns: repeat(2, 1fr);
          gap: 0 0;

          .case-card {
            padding: 2rem 1.5rem 2rem;

            h3 { @include theme.MedFontSize;}
            
            &::after {
              content: '';
              position: absolute;
              bottom: 0;
              right: 0;
              width: 2px;
              height: 100%;             
            }
            
            &:nth-of-type(1) {              
              &:before { background: linear-gradient(90deg, rgba(30, 41, 59, 0) 40%, rgba(148, 163, 183, 0.5) 100%); }
              
              &:after { background: linear-gradient(180deg, rgba(30, 41, 59, 0) 40%, rgba(148, 163, 183, 0.5) 100%); }
            }
            
            &:nth-of-type(2) { 
              &:before { background: linear-gradient(90deg, rgba(148, 163, 183, 0.5) 0%, rgba(30, 41, 59, 0) 100%); } 
            }

            &:nth-of-type(3) { 
              &:before { background: linear-gradient(90deg, rgba(30, 41, 59, 0) 40%, rgba(148, 163, 183, 0.5) 100%); }
              
              &:after { background: linear-gradient(180deg, rgba(148, 163, 183, 0.5) 0%, rgba(30, 41, 59, 0) 35%, rgba(30, 41, 59, 0) 55%, rgba(148, 163, 183, 0.5) 100%); }
            }

            &:nth-of-type(4) { 
              &:before { background: linear-gradient(90deg, rgba(148, 163, 183, 0.5) 0%, rgba(30, 41, 59, 0) 100%); } 
            }
            
            &:nth-of-type(5) { 
              &:before { background: linear-gradient(90deg, rgba(30, 41, 59, 0) 40%, rgba(148, 163, 183, 0.5) 100%); }
              
              &:after { background: linear-gradient(180deg, rgba(148, 163, 183, 0.5) 0%, rgba(30, 41, 59, 0) 35%, rgba(30, 41, 59, 0) 55%, rgba(148, 163, 183, 0.5) 100%); }
            }

            &:nth-of-type(6) {
              &:before { background: linear-gradient(90deg, rgba(148, 163, 183, 0.5) 0%, rgba(30, 41, 59, 0) 100%); } 
            }
            
            &:nth-of-type(even)::after { background: transparent; }       
            
          }
        }
      }
    }
  }
}


@media only screen and (min-width: 52.5rem) {

  .body-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;

    .db-container {
      grid-column: 2;
      overflow-x: hidden;
      max-width: 100%;
    }
    
    .home-container {  
      .home-about {
        
        .about-intro {
          padding: 2.5rem 1.5rem 2.5rem 0;
          grid-template-columns: 1fr 15rem;
      
          h1 { grid-column: 1; }
      
          .about-text {
            order: initial;
            grid-column: 1;
          }
      
          .about-img-container {
            order: initial;
            padding-top: 1rem;
            grid-column: 2;
            grid-row: 1 / span 2;    
          }
        } 
        
        .marquee {          
          .marquee-container {            
            h2 { padding: 0.5rem 0; }
          }
        }
      }
  
      .home-skills {
        padding: 2rem 1.5rem 2rem 0;

        ul {


          li {

            &::before { display: none; }

            &:last-of-type { 
              grid-column: 1 / span 2;
              width: 50%; 
              place-self: center;
             }
          }
        }
      }
  
      .home-case-studies { 
        padding: 2rem 1.5rem 2rem 0;

        ul { grid-template-columns: repeat(2, 1fr); } 
      }
    }

    .case-study-list {
      padding: 2.5rem 1.5rem 2.5rem 0;

      .cs-list-container {
        .case-grid {
          grid-template-columns: 1fr;
          gap: 3rem;

          .case-card {
            display: grid;
            grid-template-columns: auto 1fr;
            justify-items: flex-start;
            padding: 0 0 2rem;

            h3, p { 
              grid-column: 2; 
              text-align: left;
            }

            .cs-img-container {
              grid-column: 1;
              grid-row: 1 / span 2;
              place-self: center;
            }

            .tech-imgs {
              grid-column: 1;
              grid-row: 3;
              place-self: center;
            }

            .link-arrow { grid-column: 2; } 
            
            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3),
            &:nth-of-type(4),
            &:nth-of-type(5) {
              &:before { background: linear-gradient(90deg, rgba(30, 41, 59, 0) 0%, rgba(148, 163, 183, 50%) 50%, rgba(30, 41, 59, 0) 100%); }
            }
            
            &:nth-of-type(6) {
              &:before { background: transparent; }
            }
            
            &:nth-of-type(1),
            &:nth-of-type(3),
            &:nth-of-type(5) { 
              &:after { display: none; }
            }
          }
        }
      }
    }

    .about-container {

      .about-header {
        grid-template-columns: repeat(2, 1fr);

        h1 { grid-column: 1 / span 2; }
      }

      .about-skills {
        .skills-container {
          display: flex;
          justify-content: space-between;
        }
      }

      .about-roles {
        .roles-header {
          grid-template-columns: repeat(2, 1fr);

          .job-title {
            grid-column: 1;
            place-self: start;
          }
        }
      }

      .interests-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        h2 { grid-column: 1 / span 2; }
      }
    }

    // .case-study-list {
    //   .cs-list-container {
    //     .case-grid {
    //       grid-template-columns: repeat(2, 1fr);

    //       .case-card {
    //         padding: 1rem 2rem;
    //         &::before { display: none; }
    //       }
    //     }
    //   }
    // }

    .amends-container {
      .amend-issues {
        grid-template-columns: repeat(2, 1fr);

        h2 { grid-column: 1 / span 2; }

        .issues-text { order: initial;}
      }

      .amend-process {
        .process-container {
          grid-template-columns: repeat(2, 1fr);

          .process-summary { grid-column: 1 / span 2; }

          &:nth-of-type(odd) {
            .process-list { order: initial; }
          }

          .process-imgs {
            gap: 1rem;
            justify-content: center;
            place-self: center;

            .img-container { 
              width: auto;
              height: 18rem; 
            }
          }
        }
      }

      .amend-solution {
        .solution-list {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      .amend-reflection {
        .reflection-imgs {
          .img-container {
            height: 18rem;
            width: auto;
          }
        }
      }
    }

    .new-cs-container {

      .new-cs-header {
        .img-container {
          height: 18rem;
          width: auto;
        }
      }

      .new-cs-overview {

        .overview-container {
          grid-template-columns: repeat(2, 1fr);

          .overview-text { order: 1; }

          .overview-images {
            .img-container {
              height: 18rem;
              width: auto;
            }
          }

          .overview-footer {
            grid-column: 1 / span 2;

            grid-template-columns: repeat(2, 1fr);

            ul {
              grid-column: 1;
            }
          }
        }
      }

      .new-cs-colours {
        ul { display: flex; }
      }

      .new-cs-role {

        .role-container {
          grid-template-columns: repeat(2, 1fr);

          .role-reponsibility { grid-column: 1; }

          .role-tech-imgs {
            grid-column: 2; 
            
            h3 { place-self: center; }
          }
        }        
      }

      .new-cs-goals {

        .goals-container {
          grid-template-columns: repeat(2, 1fr);

          .goals-text { order: initial; }

          .goal-imgs-container {
            .img-container {
              height: 18rem;
              width: auto;
            }
          }
        }
      }

      .new-cs-highlights {
        .highlights-list {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      .new-cs-reflection {
        .reflection-imgs {
          display: flex;

          .img-container {
            height: 15rem;
            width: auto;
          }
        }
      }
    }

    .cs-next-prev-container { grid-column: 2; }

    footer { 
      grid-column: 2; 

      ul {
        padding: 2rem 1.5rem 1rem 0;
        display: flex;
        justify-content: end;
        gap: 1.5rem;
      }
      
      p { 
        padding: 0.5rem 1.5rem 1rem 0;
        place-self: end; 
      }
    }
  }
}

@media only screen and (min-width: 70rem) {
  .body-container {
    
    .home-container {  
      .home-about {
        .about-intro { 
          padding: 2.5rem 2rem 2.5rem 0; 
          grid-template-columns: 1fr 18rem;
        } 
      }
  
      .home-skills {
        padding: 2rem 2rem 2rem 0;

        ul {
          grid-template-columns: repeat(3, 1fr);

          li {
            &:last-of-type { 
              grid-column: 3;
              width: initial; 
            }
          }
        }
      }
  
      .home-case-studies { 
        padding: 2rem 2rem 2rem 0;

        ul { grid-template-columns: repeat(3, 1fr); } 
      }
    }
  }
}

@media only screen and (min-width: 90rem) {

  .body-container {

    .db-container {
      overflow: auto;
      max-width: initial;
    }
    
    .home-container { 
      max-width: 79rem;      
      margin: 0 auto;
      display: grid;
      gap: 2.5rem;
      grid-template-columns: 1fr 20rem;

      .home-about {
        overflow-x: hidden;
        max-width: 100%;
        grid-column: 1;

        .about-intro {
          padding: 2.5rem 0 1rem; 
        }
      }

      .home-skills {
        grid-column: 2;
        grid-row: 1 / span 2;
        padding: 2.5rem 0 0; 

        ul {
          display: block;

          li {
            &::before { display: block; }

            &:first-of-type {
              padding: 0 0 2rem;
            }
          }
        }
      }

      .home-case-studies {
        grid-column: 1;
        padding: 1rem 0;
      }
    } 
    
    .case-study-list {
      max-width: 79rem;      
      margin: 0 auto;

      .cs-list-container {
        .case-grid {
          grid-template-columns: repeat(2, 1fr);
          gap: 0;
          
          .case-card {
            padding: 2rem 1.5rem 2rem;
            
            &:nth-of-type(1),
            &:nth-of-type(3),
            &:nth-of-type(5) { 
              &:after { display: block; }
            }
            
            &:nth-of-type(1) {              
              &:before { background: linear-gradient(90deg, rgba(30, 41, 59, 0) 40%, rgba(148, 163, 183, 0.5) 100%); }
              
              &:after { background: linear-gradient(180deg, rgba(30, 41, 59, 0) 40%, rgba(148, 163, 183, 0.5) 100%); }
            }
            
            &:nth-of-type(2) { 
              &:before { background: linear-gradient(90deg, rgba(148, 163, 183, 0.5) 0%, rgba(30, 41, 59, 0) 100%); } 
            }

            &:nth-of-type(3) { 
              &:before { background: linear-gradient(90deg, rgba(30, 41, 59, 0) 40%, rgba(148, 163, 183, 0.5) 100%); }
              
              &:after { background: linear-gradient(180deg, rgba(148, 163, 183, 0.5) 0%, rgba(30, 41, 59, 0) 35%, rgba(30, 41, 59, 0) 55%, rgba(148, 163, 183, 0.5) 100%); }
            }

            &:nth-of-type(4) { 
              &:before { background: linear-gradient(90deg, rgba(148, 163, 183, 0.5) 0%, rgba(30, 41, 59, 0) 100%); } 
            }
            
            &:nth-of-type(5) { 
              &:before { background: linear-gradient(90deg, rgba(30, 41, 59, 0) 40%, rgba(148, 163, 183, 0.5) 100%); }
              
              &:after { background: linear-gradient(180deg, rgba(148, 163, 183, 0.5) 0%, rgba(30, 41, 59, 0) 35%, rgba(30, 41, 59, 0) 55%, rgba(148, 163, 183, 0.5) 100%); }
            }

            &:nth-of-type(6) {
              &:before { background: linear-gradient(90deg, rgba(148, 163, 183, 0.5) 0%, rgba(30, 41, 59, 0) 100%); } 
            }
            
            &:nth-of-type(even)::after { background: transparent; }      
            
          }        
        }
      }
    }
  }
}

@media only screen and (min-width: 106rem) {
   .body-container {
    .home-container { 
      max-width: 90rem;
      gap: 2rem 5rem;
    } 

    .case-study-list { max-width: 90rem; }
  }
}

// @media only screen and (min-width: 125rem) {
//   .body-container {
    
//     .db-container { border: 1px solid navy; } 
//   }
// }